In [ ]:
Lists:

In [1]:
l = []
type(l)

list

In [4]:
l = (1,2.2,"aman","is",True,[1,2,3],(12,34))
type(l)

tuple

In [ ]:
properties of list :

In [ ]:
1) immutability

In [5]:
s = "aman"
s[0] = "c"

TypeError: 'str' object does not support item assignment

In [6]:
l = [1,2,3]
l[1] = 12

In [7]:
l

[1, 12, 3]

In [ ]:
concatenation:

In [9]:
s = "aman"
s = s+" Singh"
s

'aman Singh'

In [10]:
l +[34,55]

[1, 12, 3, 34, 55]

In [ ]:
indexing and slicing

In [11]:
l = [1,33,55,123,789,"aman",["adda","kbdw",45,True]]
l[-1]

['adda', 'kbdw', 45, True]

In [15]:
l[::-1]

[['adda', 'kbdw', 45, True], 'aman', 789, 123, 55, 33, 1]

In [14]:
l[6][-1]

True

In [1]:
l = [1,2,3,4,50]

In [3]:
type(l)

list

In [6]:
l[1:4]

[2, 3, 4]

In [7]:
s = "madrid"
s[0] = "u"

TypeError: 'str' object does not support item assignment

In [10]:
l[0] = [1234]
l

[[1234], 2, 3, 4, 50]

In [16]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
l = [l1,l2,l3]
l

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [18]:
for i in l:
    for j in i:
        if j%2==0:
            print(j**2,end = " ")

4 16 36 64

In [11]:
# l = [[1,2,3],[4,5,6],[7,8,9]]
l = [[1,2,3],[4,5,6],[7,8,9]]
for i in l:
    for j in i:
        print(j**3)

1
8
27
64
125
216
343
512
729

In [18]:
l = [[1,2],[3,"su",[677,890,567],(123,143)],True,3+56j,("the cat","run",[34,13,(456,123456789)])]
l[4][2][2:]

[(456, 123456789)]

In [20]:
[1,2,3]+[3,4,5]

[1, 2, 3, 3, 4, 5]

In [1]:
l1 = input("Enter multiple passwords: ").split(",")

for i in l1:
    print(f"i is: {i}")
    l,d,u,s = 0,0,0,0
    for j in i:
        if j.isdigit():
            d = d+1
        elif j.islower():
            l = l+1
        elif j.isupper():
            u = u+1
        else:
            s = s+1
    print(f"d -> {d}, l -> {l}, u -> {u} and s -> {s}")
    if d > 0 and l > 0 and u > 0 and s > 0:
        print(f"Password {i} satisfies all the conditions")

Enter multiple passwords: aman@123,gdkgdukd,YAdasdukad@134
i is: aman@123
d -> 3, l -> 4, u -> 0 and s -> 1
i is: gdkgdukd
d -> 0, l -> 8, u -> 0 and s -> 0
i is: YAdasdukad@134
d -> 3, l -> 8, u -> 2 and s -> 1
Password YAdasdukad@134 satisfies all the conditions

In [ ]:
List methods :
    
    list built-in function only applicable for lists

In [2]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [20]:
l = [45,67,"aman"]
for i in range(1,6):
    l.append(i)
l

[45, 67, 'aman', 1, 2, 3, 4, 5]

In [21]:
l.clear()
l

[]

In [26]:
l1 = [2,3,4]
l = l1
l

[2, 3, 4]

In [27]:
l[1] = 123

In [31]:
l = [2, 123, 4,1,2,3,4,2,12,2,3]

In [29]:
l1

[2, 123, 4]

In [34]:
l.count(3)

2

In [33]:
l.append(12)
l

[2, 123, 4, 1, 2, 3, 4, 2, 12, 2, 3, 12]

In [38]:
l.extend([1,2,3,4])

In [39]:
l

[2, 123, 4, 1, 2, 3, 4, 2, 12, 2, 3, 12, '1', '2', 1, 2, 3, 4]

In [ ]:
l.extend()

In [3]:
l = []
for i in range(1,11):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
l.clear()

In [6]:
l

[]

In [7]:
l = [1,2,3]
s = l.copy()

In [9]:
s=l

In [10]:
l

[1, 2, 3]

In [12]:
s[0] = 90

In [13]:
s

[90, 2, 3]

In [14]:
l

[90, 2, 3]

In [15]:
l = [1,1,1,2,3,4,5,6]
l.count(1)

3

In [16]:
l

[1, 1, 1, 2, 3, 4, 5, 6]

In [24]:
l.extend(["aman"])

In [40]:
l

[2, 123, 4, 1, 2, 3, 4, 2, 12, 2, 3, 12, '1', '2', 1, 2, 3, 4]

In [41]:
l.index(4)

2

In [42]:
l.insert(1,"aman")

In [44]:
l.insert(12,56)
l

[2, 'aman', 123, 4, 1, 2, 3, 4, 2, 12, 2, 3, 56, 12, '1', '2', 1, 2, 3, 4]

In [45]:
l.pop()

4

In [47]:
l.pop(12)

56

In [49]:
l.remove("1")

In [51]:
l.reverse()

In [54]:
l

[3, 2, 1, '2', 12, 3, 2, 12, 2, 4, 3, 2, 1, 4, 123, 'aman', 2]

In [56]:
l = [34,12,45,22,2,1,0,56,78,99]
l.sort(reverse = True)
l.

[99, 78, 56, 45, 34, 22, 12, 2, 1, 0]

In [ ]:
index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'

In [26]:
l.index("aman")

15

In [27]:
l.insert(4,"abc")

In [28]:
l

[1, 1, 1, 2, 'abc', 3, 4, 5, 6, 100, 100, 200, 'a', 'm', 'a', 'n', 'aman']

In [29]:
l.pop()

'aman'

In [31]:
l.remove("m")

In [32]:
l

[1, 1, 1, 2, 'abc', 3, 4, 5, 6, 100, 100, 200, 'a', 'a', 'n']

In [33]:
l.reverse()

In [35]:
l.remove(100)

In [36]:
l.reverse()

['n', 'a', 'a', 200, 100, 6, 5, 4, 3, 'abc', 2, 1, 1, 1]

In [37]:
l = ["a","d","z","f","x","e"]

In [40]:
l.sort(reverse = True)

In [41]:
l

['z', 'x', 'f', 'e', 'd', 'a']

In [47]:
l= [1,2,100,True,False]

In [48]:
l.sort()

In [49]:
l

[False, 1, True, 2, 100]

party_attendees = ["aman","molu","golu","bholu","ela","vayu","peter","hema"]
label the people who are coming after half of the party guest as "fashionably late" but we should not label the very last guest the same

In [57]:
l = ["aman","molu","golu","bholu","ela","vayu","peter","hema"]
for i in range(len(l)):
    if i>len(l)/2 and i!=len(l)-1:
        print(l[i]," is fashiobaly late")

vayu  is fashiobaly late
peter  is fashiobaly late

In [52]:
p = ["aman","molu","golu","bholu","ela","vayu","peter","hema"]
for i in range(0,len(p)):
    if i >= int(len(p)/2) and i<len(p)-1:
        print(f"{p[i]} is Fashionably Late")
        p[i] = f" {i}fashionably Late"
p

ela is Fashionably Late
vayu is Fashionably Late
peter is Fashionably Late

['aman',
 'molu',
 'golu',
 'bholu',
 'fashionably Late',
 'fashionably Late',
 'fashionably Late',
 'hema']

In [57]:
p = ["aman","molu","golu","bholu","ela","vayu","peter","hema"]
d = {}
for i in range(0,len(p)):
    if i >= int(len(p)/2) and i<len(p)-1:
        print(f"{p[i]} is Fashionably Late")
        d[p[i]] = " is Fashionably late"
    else:
        d[p[i]] = " is not fashionably late"
d

ela is Fashionably Late
vayu is Fashionably Late
peter is Fashionably Late

{'aman': ' is not fashionably late',
 'molu': ' is not fashionably late',
 'golu': ' is not fashionably late',
 'bholu': ' is not fashionably late',
 'ela': ' is Fashionably late',
 'vayu': ' is Fashionably late',
 'peter': ' is Fashionably late',
 'hema': ' is not fashionably late'}

In [1]:
List = [10,45.67,"dasda",[1,2,4],(34,23),True,5+7j]

In [2]:
type(List)

list

In [ ]:
properties :
    immutability: List Are mutable in nature 
    Concatenation:

In [3]:
List[0] = 20

In [4]:
List

[20, 45.67, 'dasda', [1, 2, 4], (34, 23), True, (5+7j)]

In [5]:
List +[1,2,3]

[20, 45.67, 'dasda', [1, 2, 4], (34, 23), True, (5+7j), 1, 2, 3]

In [6]:
dir(List)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [7]:
l = []

In [9]:
type(l)
l

[]

In [11]:
for i in range(1,11):
    
    #print(i)
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
l.clear()

In [13]:
l

[]

In [14]:
l = [1,2,3]
l1 = l.copy()
l1

[1, 2, 3]

In [16]:
l.index(3)

2

In [18]:
l = ["cat","dog","fog","is","is","park",2,2,4,6,6.7,7.8]

In [20]:
l.count(2)

2

In [25]:
l.extend("ddfsf")
l

['cat',
 'dog',
 'fog',
 'is',
 'is',
 'park',
 2,
 2,
 4,
 6,
 6.7,
 7.8,
 1,
 2,
 45,
 0,
 'd',
 'd',
 'f',
 's',
 'f']

In [26]:
l = ["Orange","Red","Black","Pink","Yellow","Blue"]
l.insert(1,"Yellow")
l

['Orange', 'Yellow', 'Red', 'Black', 'Pink', 'Yellow', 'Blue']

In [28]:
l.pop(1)
l

['Orange', 'Red', 'Black', 'Pink', 'Yellow']

In [29]:
l.remove("Red")

In [31]:
l.reverse()

In [35]:
l = ["x","b","c","a","d"]
l.insert(2,"e")
l

['x', 'b', 'e', 'c', 'a', 'd']

In [36]:
l.sort()

In [37]:
l

['a', 'b', 'c', 'd', 'e', 'x']

In [41]:
#planets sorted in alphabetical order
sorted(planets)

['earth',
 'jupiter',
 'malcandriya',
 'mercury',
 'neptune',
 'saturn',
 'uranus',
 'venus']

In [40]:
planets =['mercury','venus','earth','mars','jupiter','saturn','uranus','neptune']
planets[3] = 'malcandriya'

In [42]:
l = [9,2,1,4,5,6,7,8,3,0]
l.sort(reverse = True)
l

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
Nested List :
    list within a list is a nested list

In [47]:
L1 = [1,2,3]
L2 = [4,5,6]
L3 = [7,8,9]
l = [L1,L2,L3]
l

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

You are analyzing sports teams. Members of each team are stored in a list. The Coach is the first name in the list, the captain is the second name in the list, and other players are listed after that. These lists are stored in another list, which starts with the best team and proceeds through the list to the worst team last. Complete the function below to select the captain of the worst team.

In [48]:
t1 = input("enter the members :").split()

enter the members :virat manish neha dhoni

In [49]:
t1

['virat', 'manish', 'neha', 'dhoni']

In [50]:
t1 = input("t1: ").split()
t2 = input("t2: ").split()
t3 = input("t3: ").split()
t4 = input("t4: ").split()
tn = [t1,t2,t3,t4]

t1: a b c d e
t2: f g h i j
t3: k l m n o
t4: p q r s t

In [53]:
tn[3][1]

'q'

In [63]:
"""Given a list of racers, set the first place racer (at the front of the list) to last
    place and vice versa."""
racers = input("enter racers : ").split()

enter racers : a b c d e f g h

In [64]:
racers[::-1]

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [66]:
x = racers[0]
racers[0] = racers[-1]
racers[-1] = x
racers

['h', 'b', 'c', 'd', 'e', 'f', 'g', 'a']

In [70]:
d = [1, 2, 3][1:]
d
len(d)

2

In [60]:
racers.reverse()
racers

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
l = ["Orange","Red","Black","Pink","Yellow","Blue"]
remove 0th , 4th and 5th element

In [14]:
l = ["Orange","Red","Black","Pink","Yellow","blue","red"]
l = list(enumerate(l))
for i,j in l:
    if i==0 or i==4 or i==5:
        l.pop(i)
l

[(1, 'Red'), (2, 'Black'), (3, 'Pink'), (4, 'Yellow'), (6, 'red')]

In [21]:
l = ["Orange","Red","Black","Pink","Yellow","blue","red"]
l = list(enumerate(l))
for i,j in l:
    if i==0 or i==4 or i==5:
        del(j)
    print(l)

[(0, 'Orange'), (1, 'Red'), (2, 'Black'), (3, 'Pink'), (4, 'Yellow'), (5, 'blue'), (6, 'red')]
[(0, 'Orange'), (1, 'Red'), (2, 'Black'), (3, 'Pink'), (4, 'Yellow'), (5, 'blue'), (6, 'red')]
[(0, 'Orange'), (1, 'Red'), (2, 'Black'), (3, 'Pink'), (4, 'Yellow'), (5, 'blue'), (6, 'red')]
[(0, 'Orange'), (1, 'Red'), (2, 'Black'), (3, 'Pink'), (4, 'Yellow'), (5, 'blue'), (6, 'red')]
[(0, 'Orange'), (1, 'Red'), (2, 'Black'), (3, 'Pink'), (4, 'Yellow'), (5, 'blue'), (6, 'red')]
[(0, 'Orange'), (1, 'Red'), (2, 'Black'), (3, 'Pink'), (4, 'Yellow'), (5, 'blue'), (6, 'red')]
[(0, 'Orange'), (1, 'Red'), (2, 'Black'), (3, 'Pink'), (4, 'Yellow'), (5, 'blue'), (6, 'red')]

In [24]:
l = ["Orange","red","black","pink","yellow","blue"]
l1 = []
l2 = []
for i in range(len(l)):
    if i==0 or i==4 or i==5:
        l1.append(l[i])
    else:
        l2.append(l[i])
l2

['red', 'black', 'pink']

In [26]:
x = l.pop(0)
x

'Orange'

In [25]:
l1

['Orange', 'yellow', 'blue']

In [ ]:
for i in range(len())

In [17]:
l

[(0, 'Orange'),
 (1, 'Red'),
 (2, 'Black'),
 (3, 'Pink'),
 (4, 'Yellow'),
 (5, 'blue'),
 (6, 'red')]

In [71]:
l = ["Orange","Red","Black","Pink","Yellow","Blue"]
# remove 0th , 4th and 5th element
l1 = l[1:4]
print(l1)
l2 = l[4:5]+l[5:6]
print(l2)

['Red', 'Black', 'Pink']
['Yellow', 'Blue']

In [59]:
l = ["Orange","Red","Black","Pink","Yellow","Blue"]
# remove 0th , 4th and 5th element
l1 = l[1:4]+l[6:]
print(l1)
l2 = l[0:1]+l[4:5]+l[5:6]
print(l2)

['Red', 'Black', 'Pink']
['Orange', 'Yellow', 'Blue']

In [60]:
l = ["Orange","Red","Black","Pink","Yellow","Blue"]
l3 = []
l4 = []
for i in range(0,len(l)):
    if i == 0 or i == 4 or i == 5:
        l3.append(l[i])
    else:
        l4.append(l[i])
print(l3)
print(l4)

['Orange', 'Yellow', 'Blue']
['Red', 'Black', 'Pink']

In [61]:
l

['Orange', 'Red', 'Black', 'Pink', 'Yellow', 'Blue']

In [66]:
a = list(enumerate(l))

In [68]:
a

[(0, 'Orange'),
 (1, 'Red'),
 (2, 'Black'),
 (3, 'Pink'),
 (4, 'Yellow'),
 (5, 'Blue')]

In [1]:
l = ["Orange","Red","Black","Pink","Yellow","Blue"]
a = list(enumerate(l))
for i,j in range(a:
    #print(i)
    if i==0 or i==4 or i==5:
        a.pop(i)
        
a

[(1, 'Red'), (2, 'Black'), (3, 'Pink'), (4, 'Yellow')]

In [65]:
s = "sadwef"
list(s)

['s', 'a', 'd', 'w', 'e', 'f']

In [ ]:
# Write a Python program to change the position of every n-th value with the (n+1)th in a list
#Sample list: [0,1,2,3,4,5]
# Expected Output: [1, 0, 3, 2, 5, 4]

In [4]:
l = [0,1,2,3,4,5]
l1 = []
for i in range(len(l)-1):
    if i%2!=0:
        continue
        
    l1.append(l[i+1])
    l1.append(l[i])
l1

[1, 0, 3, 2, 5, 4]

In [5]:
from itertools import zip_longest, chain, tee
def replace2copy(lst):
    lst1, lst2 = tee(iter(lst), 2)
    return list(chain.from_iterable(zip_longest(lst[1::2], lst[::2])))
n = [0,1,2,3,4,5]
print(replace2copy(n))

[1, 0, 3, 2, 5, 4]

In [ ]:
tuple :

In [27]:
t = 1,2,3
type(t)

tuple

In [28]:
t

(1, 2, 3)

In [72]:
t = (1,2,3,True,[332,567567],(12,3445),"aman",456.879)

In [73]:
t

(1, 2, 3, True, [332, 567567], (12, 3445), 'aman', 456.879)

In [74]:
t[0] = 12

TypeError: 'tuple' object does not support item assignment

In [75]:
why tuple : data integrity 
    more secure than lists

SyntaxError: invalid syntax (<ipython-input-75-04355ac8eb4c>, line 1)

In [76]:
t + (1,2,3) #concatenation operation

(1, 2, 3, True, [332, 567567], (12, 3445), 'aman', 456.879, 1, 2, 3)

In [79]:
t

(1, 2, 3, True, [332, 567567], (12, 3445), 'aman', 456.879)

In [80]:
t[-5:-2]

(True, [332, 567567], (12, 3445))

In [14]:
t[4:7]

([332, 567567], (12, 3445), 'aman')

In [16]:
t1 = (1,2,3,True,[332,56575],(12,3445),'aman',456.87)
t1
t1 = t1 + (6,7,8)
t1

(1, 2, 3, True, [332, 56575], (12, 3445), 'aman', 456.87, 6, 7, 8)

In [17]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [30]:
t = (1,2,3,4,5,6,6,6,7,8,True,False)
t.count(0)

1

In [31]:
t.index(6)

5

In [84]:
t1 = tuple(t1)
print(t1)
t1.count("c")

('a', 'b', 'c', 'd', 'e')

1

In [85]:
t1.index("d")

3

(1, 2, 3, True, [332, 56575], (12, 3445), 'aman', 456.87, 6, 7, 8)

In [23]:
t1.index(True)

0

In [24]:
t1.index(7)

9

In [ ]:
Set :

In [ ]:
unordered collection of data

In [27]:
s ={1,2,3,4,True}

In [28]:
type(s)

set

In [35]:
l = [1,1,1,2,3,13,3,41,51,6,5,6]
s = set(l)
s
for i in s:
    print(i)

1
2
3
5
6
41
13
51

In [36]:
for i in s:
    print(i)

1
2
3
5
6
41
13
51

In [37]:
s[1] no concept of indexing in sets

TypeError: 'set' object is not subscriptable

In [29]:
s

{1, 2, 3, 4}

In [1]:
l = [1,1,1,3345,56,78,24,24]

In [3]:
s = set([1,1,1,3345,56,78,24,24])

In [4]:
s

{1, 24, 56, 78, 3345}

In [5]:
for i in  s:
    print(i)

1
78
3345
56
24

In [6]:
s[1]

TypeError: 'set' object is not subscriptable

In [39]:
s +{34,56}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [7]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [87]:
s = set()
type(s)

set

In [88]:
s.add(1)
s.add(2)
s.add(3)

In [89]:
s

{1, 2, 3}

In [10]:
a = {1,2,3,4}
b = {3,4,5,6}

In [11]:
a.intersection(b)

{3, 4}

In [12]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [13]:
a.intersection_update(b)

In [14]:
a

{3, 4}

In [15]:
a.add(45)

In [19]:
s = set()
type(s)

set

In [20]:
s.add(1)

In [21]:
s

{1}

In [22]:
s.clear()

In [23]:
s

set()

In [25]:
s = a.copy()

In [26]:
s

{3, 4, 45}

In [90]:
s

{1, 2, 3}

In [40]:
a = {1,2,3,4}
b = {3,4,5,6}

In [41]:
a.difference(b)

{1, 2}

In [42]:
a.difference_update(b)
a

{1, 2}

In [43]:
a.discard(2)

In [45]:
a.pop()

1

In [47]:
b.remove(3)
b

{4, 5, 6}

In [91]:
s = list(s)
s.remove(2)
s

[1, 3]

In [27]:
s.pop()

3

In [29]:
s

{4, 45}

In [28]:
a

{3, 4, 45}

In [30]:
a

{3, 4, 45}

In [95]:
a = {4,5,1,2}
b = {1,2,3}

In [96]:
a.difference(b)

{4, 5}

In [97]:
a.difference_update(b)

In [98]:
a

{4, 5}

In [35]:
b

{2, 3, 45}

In [48]:
a = {1,2,3}
b = {12,1,2,3,5,67,10,8,9}

In [37]:
a.issubset(b)

True

In [38]:
b.issuperset(a)

True

In [100]:
b

{1, 2, 3, 5, 8, 9, 10, 12, 67}

In [101]:
b.remove(10)

In [102]:
b

{1, 2, 3, 5, 8, 9, 12, 67}

In [103]:
a

{1, 2, 3}

In [104]:
b.isdisjoint(a)

False

In [45]:
b.discard(3)

In [46]:
b

{1, 2, 5, 8, 9, 12, 67}

In [52]:
b.update("True")

In [53]:
b

{1, 10, 12, 2, 3, 5, 67, 8, 9, 90, 'T', 'e', 'r', 'u'}

In [60]:
def r(stop,start=0,step = 1):
    while start<stop-1:
        
        s = start+step
        print(s)
        start=start+1
        
r(10,1,2)

3
4
5
6
7
8
9
10

In [ ]:
dictionary :

In [1]:
d = {1:"aman",2:34,3:True}

In [2]:
d

{1: 'aman', 2: 34, 3: True}

In [3]:
type(d)

dict

In [6]:
d[1] = "singh"
d

{1: 'singh', 2: 34, 3: True}

In [7]:
d[5] = 54
d

{1: 'singh', 2: 34, 3: True, 5: 54}

In [8]:
d = {23:[3,4,5],45:(56,78,90,"aman"),"a":{1,2,3}}

In [9]:
d

{23: [3, 4, 5], 45: (56, 78, 90, 'aman'), 'a': {1, 2, 3}}

In [13]:
d[45][3][1:3]

'ma'

In [ ]:
nested dictionaries

In [15]:
d = {"key":{"nestedkey":{"subnestkey":"value"}}}

In [20]:
d["key"]["nestedkey"]["subnestkey"][::2]

'vle'

In [30]:
d = {1:11,2:22,3:33}

In [34]:
d.fromkeys([4,5,6],564)

{4: 564, 5: 564, 6: 564}

In [35]:
d.get(3)

33

In [36]:
d.keys()

dict_keys([1, 2, 3])

In [37]:
d.values()

dict_values([11, 22, 33])

In [38]:
d.items()

dict_items([(1, 11), (2, 22), (3, 33)])

In [39]:
d.pop(3)

33

In [43]:
d.popitem()

(1, 11)

In [46]:
d[1] = "aman"
d[2] = "singh"
d["wer"] = 23
d[1] = 11
d

{1: 11, 2: 'singh', 'wer': 23}

In [47]:
d.setdefault(4,5600)

5600

In [52]:
d = {1:11,2:22,3:33}

In [53]:
d1 = {4:44,5:55,1:90,2:45}

In [54]:
d.update(d1)

In [55]:
d

{1: 90, 2: 45, 3: 33, 4: 44, 5: 55}

In [56]:
for i in d:
    print(i)

1
2
3
4
5

In [58]:
for i in d.values():
    print(i)

90
45
33
44
55

In [60]:
d.items()

dict_items([(1, 90), (2, 45), (3, 33), (4, 44), (5, 55)])

In [59]:
for i,j in d.items():
    print(i,j)

1 90
2 45
3 33
4 44
5 55

d = {"neha":33,"varun":55,"pooja":34,"golu":19,"ramesh":45}
if age of a person is greater than 44 he is old , and if it is less than 44 he is young.

In [61]:
d = {"neha":33,"varun":55,"pooja":34,"golu":19,"ramesh":45}
for i,j in d.items():
    if j>44:
        print(i," is old")
    else:
        print(i, " is young")

neha  is young
varun  is old
pooja  is young
golu  is young
ramesh  is old

In [64]:
l = ["orange","banana","apple","grapes","mango"]
d = {}
for i in l:
    #print(i)
    d[i[0].upper()]=i
d

{'O': 'orange', 'B': 'banana', 'A': 'apple', 'G': 'grapes', 'M': 'mango'}

In [66]:
c = 'it\'s ok'
length = len(c)
length

7

In [68]:
d = """hey"""
length = len(d)
length

3

In [69]:
e = '\n'
length = len(e)
length

1

In [ ]:
s = "1110034sssddqwf"
if s.isdigit() and len(s)==5: