In [ ]:
looping : repeative pattern

In [25]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

In [3]:
"a" in "Shivansh"

True

WAP to take input from the user regarding a number and i have to print its table

In [12]:
for i in range(80,0,-8):
    print(i)

80
72
64
56
48
40
32
24
16
8

In [13]:
no = int(input("Ente number: "))
for i in range(1,11):
    print(no**i)

Ente number: 2
2
4
8
16
32
64
128
256
512
1024

In [ ]:
WAP to find the numbers which are even in range of 1,35 (inclusive both)

In [14]:
# WAP to find the numbers which are even in range of 1,35 inclusive both
for i in range(1,36):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34

In [9]:
for i in range():
    print(i)

In [7]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

WAP to print even numbers between 1 to 21

In [12]:
for i in range(50,4,-5):
    print(i)

50
45
40
35
30
25
20
15
10
5

In [6]:
n = int(input("Enter the number :"))
if n<0:
    print("fact is not possible")
elif n==0 or n==1:
    print("fact is 1")
else:
    f = 1
    for i in range(n,0,-1):
        f = f*i
    print(f)

Enter the number :8
40320

In [3]:
import math

In [5]:
factorial(5)

NameError: name 'factorial' is not defined

In [ ]:
WAP to find the factors of a number entered by the user

In [7]:
##### WAP to find factors of a number entered by user:
n = int(input("ENter num: "))
for i in range(1,n+1):
    if n%i==0:
        print(i)

ENter num: 15
1
3
5
15

In [ ]:
##### WAP to find factors of a number entered by user:
#composite -> more than 2 factors
# prime -> 2 or less factors
n = int(input("ENter num: "))
for i in range(1,n+1):
    if n%i==0:
        print("Factor is: %s"%i)
if i<=2:
    print("Number is prime")
else:
    print("Number is composite")

In [11]:
##### WAP to find factors of a number entered by user:
#composite -> more than 2 factors
# prime -> 2 or less factors
n = int(input("ENter num: "))
count = 0
for i in range(1,n+1):
    if n%i==0:
        count= count+1
        print("Factor is: %s"%i)
print("the number of factors are :",count)
if j<=2:
    print("Number is prime")
else:
    print("Number is composite")

ENter num: 6
Factor is: 1
Factor is: 2
Factor is: 3
Factor is: 6
the number of factors are : 4

l = [345,234,171,343,1728,543]
WAP to print the list is magical if a single element of the list is div by both 7 and 3.

In [16]:
l = [345,234,21,171,343,1728,543,21]
for i in l:
    if i%7==0 and i%3==0:
        print("Magical list")

Magical list
Magical list

WAP to print fizz if the number is div by 3 ,print buzz if the number is div by 5 and fizzbuzz if it is div by both in the range of 1 to 50 inclusive both the numbers

In [ ]:
45 = 1,3,5,15,45,9

In [ ]:
15 = 1,3,5,15

In [14]:
n = int(input("Enter the number :"))
for i in range(10,0,-1):
    
    print(n,"x",i,"=",n*i)

Enter the number :4
4 x 10 = 40
4 x 9 = 36
4 x 8 = 32
4 x 7 = 28
4 x 6 = 24
4 x 5 = 20
4 x 4 = 16
4 x 3 = 12
4 x 2 = 8
4 x 1 = 4

In [19]:
s = "Aman Singh Rathore"
s = s.replace(" ","")
for i in s:
    print(i,end="")

AmanSinghRathore

In [6]:
for i in range(10,0,-1):
    print(i,end = "")

10987654321

write a program to print the table of a number entered by the user.

In [9]:
n = int(input("enter n : "))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

enter n : 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [13]:
n = int(input("enter n : "))
for i in range(1,11):
    if i%2==0:
        print(n,"x",i,"=",n*i)
    else:
        print(i*i)

enter n : 3
1
3 x 2 = 6
9
3 x 4 = 12
25
3 x 6 = 18
49
3 x 8 = 24
81
3 x 10 = 30

loops : 1) for 
        2) while
for does and why we should use for and not while 
for loop : use 
1) when we know how many iteration i need to do.

in operator :
    membership operations - is and in

In [15]:
s = "Madrid"
for i in s:
    print(i,end = "")

Madrid

In [15]:
s = [1,2,3,4,5]
for j in s:
    print(j)

1
2
3
4
5

In [ ]:
Write a program to print the number of elements in a list
and also give the sum of the list 
l = [12,34,23,78,13,54]
12+34+23+78+13+54

In [ ]:
l = [12,34,23,78,13,54]
count = 0
for i in l:
    count = count+1
count

In [16]:
12+34+23+78+13+54

214

In [20]:
l = [12,34,23,78,13,54]

In [22]:
c = 0
for i in l:
    c= c+i
print(c)

214

In [38]:
s = [1,2,4,5,6]
for i in s:
    print(i)

IndentationError: expected an indented block (<ipython-input-38-523b2b7c8cd2>, line 3)

fruits = ['apple','orange','banana','grapes',"kiwi","cherry","melons"]
WAP to take the print of only those fruits which are having "a" in them

In [49]:
# print even no.s using loops :
for i in range(0,51,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [51]:
# print table of 5 
for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [4]:
# print the range of no.s from 10 to 1 , then
for i in range(10,0,-1):
    print(i,end = ',')

10,9,8,7,6,5,4,3,2,1,

In [6]:
n = int(input('Enter the no. for which u want to see table : '))
for v in range(1,11):
    print(n*v)

Enter the no. for which u want to see table : 5
5
10
15
20
25
30
35
40
45
50

In [56]:
# table in reverse order n = 5
for i in range(50,0,-5):
    print(i)

50
45
40
35
30
25
20
15
10
5

In [57]:
l = [12,34,67,23]
for i in l:
    if i%2==0:
        print('no. is even : ',i)
    else:
        print('no. is odd : ',i)

no. is even :  12
no. is even :  34
no. is odd :  67
no. is odd :  23

Where the group of statements are going to execute iteratively.

iterative statements mean that when we require to repeat our tasks again and again, in these cases we use loops for iterative statements.
We use loops to iterate the conditions. When we required to repeat the task again and again.

In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

there are two types of iterative statements present in python-:
1. for Loop
2. while Loop

In [2]:
for i in ['apple','orange','banana']:
    print(i, end = ',')

apple,orange,banana,

In [25]:
n = int(input())
f = 1
for i in range(1,n+1):
    f = f*i
print(f)

5
120

WAP to print the factors of a number enetered bby the user 
10 = 1,2,5,10

WAP to print wheather the prime numbers or composites number. number has to be input from the user

In [4]:
n = int(input("enter the number : "))
c = 0
for i in range(1,n+1):
    if n%i==0:
        print(i," is factor of : ",n)
        c=c+1
if c==2:
    print(n," is prime")
else:
    print(n," is composite")

enter the number : 12
1  is factor of :  12
2  is factor of :  12
3  is factor of :  12
4  is factor of :  12
6  is factor of :  12
12  is factor of :  12
12  is composite

In [21]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i**3)

1
8
27
64
125
216
343
512
729
1000

In [25]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

Wap to take a input from the user and print its factors

In [4]:
n = int(input("Enter the number : "))
c = 0
for i in range(1,n+1):
    if n%i==0:
        print(i," is factor of ",n)
        c = c+1
if c>2:
    print("Composite : ",n)
elif c<=2:
    print("prime : ",n)

Enter the number : 19
1  is factor of  19
19  is factor of  19
prime :  19

WAP to take a input from the user and check if it prime or composite.

In [ ]:
1! = 1
0! = 1
<0 no factorial
10 = 10

In [ ]:
n = int(input("enter the number : ")
if n==0 or n==1:
        print("Fact is : ",1)
elif n<0:
        print("fact is not possible ")
else:
        for i in range(1,n+1):

In [8]:
for i in [1,2,3,4,5]:
    print(i, end = ' ')

1 2 3 4 5

In [9]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [46]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [50]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

WAP to print fizz if the no. is div by 3 ,buzz if the no. is div by 5 and fizzbuzz if the no. is div by both  in range of 1 to 50 both inclusive

In [5]:
for i in range(1,51):
    if i%3==0 and i%5==0:
        print("fizzbuzz :",i)
    elif i%3==0:
        print("fizz :",i)
    elif i%5==0:
        print("buzz :",i)

fizz : 3
buzz : 5
fizz : 6
fizz : 9
buzz : 10
fizz : 12
fizzbuzz : 15
fizz : 18
buzz : 20
fizz : 21
fizz : 24
buzz : 25
fizz : 27
fizzbuzz : 30
fizz : 33
buzz : 35
fizz : 36
fizz : 39
buzz : 40
fizz : 42
fizzbuzz : 45
fizz : 48
buzz : 50

In [8]:
n = int(input("no. : "))
f =1
for i in range(n,0,-1):
    f=f*i
    print(f)

no. : 5
5
20
60
120
120

In [9]:
a = 1
b = 2
c = a
a = b
b = c
print(a,b)

2 1

In [10]:
n = int(input("Enter the no. of times u want ur loop to run : "))
a = 0
b = 1
for i in range(n):
    c=a
    a=b
    b=a+c
    print(c)

Enter the no. of times u want ur loop to run : 10
0
1
1
2
3
5
8
13
21
34

In [18]:
for n in range(1,51):
    if n%3==0 and n%5==0:
        print("FizzBuzz",n)
    elif n%3 == 0:
        print("Fizz",n)
    elif n%5==0:
        print("Buzz",n)

Fizz 3
Buzz 5
Fizz 6
Fizz 9
Buzz 10
Fizz 12
FizzBuzz 15
Fizz 18
Buzz 20
Fizz 21
Fizz 24
Buzz 25
Fizz 27
FizzBuzz 30
Fizz 33
Buzz 35
Fizz 36
Fizz 39
Buzz 40
Fizz 42
FizzBuzz 45
Fizz 48
Buzz 50

write a program to print the table of a num n and n has to be taken from the user.

In [62]:
n =int(input("enter the no. for which you want to see table :"))

for i in range(10,0,-1):
    print(n,'x',i,'=',i*n)

enter the no. for which you want to see table :9
9 x 10 = 90
9 x 9 = 81
9 x 8 = 72
9 x 7 = 63
9 x 6 = 54
9 x 5 = 45
9 x 4 = 36
9 x 3 = 27
9 x 2 = 18
9 x 1 = 9

In [3]:
for i in range(1,51):
    if i%2==0:
        print(i,' is e : ',i*i)
    else:
        print(i,' is o : ',i*i*i)

1  is o :  1
2  is e :  4
3  is o :  27
4  is e :  16
5  is o :  125
6  is e :  36
7  is o :  343
8  is e :  64
9  is o :  729
10  is e :  100
11  is o :  1331
12  is e :  144
13  is o :  2197
14  is e :  196
15  is o :  3375
16  is e :  256
17  is o :  4913
18  is e :  324
19  is o :  6859
20  is e :  400
21  is o :  9261
22  is e :  484
23  is o :  12167
24  is e :  576
25  is o :  15625
26  is e :  676
27  is o :  19683
28  is e :  784
29  is o :  24389
30  is e :  900
31  is o :  29791
32  is e :  1024
33  is o :  35937
34  is e :  1156
35  is o :  42875
36  is e :  1296
37  is o :  50653
38  is e :  1444
39  is o :  59319
40  is e :  1600
41  is o :  68921
42  is e :  1764
43  is o :  79507
44  is e :  1936
45  is o :  91125
46  is e :  2116
47  is o :  103823
48  is e :  2304
49  is o :  117649
50  is e :  2500

write a program to print the factorial of a number.

In [6]:
n = int(input('enter the number for factorial : '))
if n<0:
    print('factorial not possible')
elif n==0 or n==1:
    print('fact is 1')
else:
    f = 1
    for i in range(1,n+1):
        f = f*i
    print(f)

enter the number for factorial : 3
6

In [ ]:
Write a program to print the factors of the number.

In [11]:
n = int(input('Enter no :'))
c = 0
for i in range(1,n+1):
    if n%i==0:
        print(i)
        c = c+1
print('no of factors are : ',c)
if c>2:
    print('no is composite : ',n)
else:
    print('No is prime : ',n)

Enter no :10
1
2
5
10
no of factors are :  4
no is composite :  10

In [12]:
n = int(input("enter the number : "))
if n==0 or n==1:
        print("Fact is : ",1)
elif n<0:
        print("fact is not possible ")
else:
    f=1
    for i in range(1,n+1):
        f = f*i
        print(f)

enter the number : 0
Fact is :  1

In [2]:
n = int(input("enter the no. u want have table of : "))
for i in range(1,11):
    print(n,'x',i,'=',n*i)

enter the no. u want have table of : 50
50 x 1 = 50
50 x 2 = 100
50 x 3 = 150
50 x 4 = 200
50 x 5 = 250
50 x 6 = 300
50 x 7 = 350
50 x 8 = 400
50 x 9 = 450
50 x 10 = 500

write a program to print the no of elements in the list[1,34,56,78,34,23,78,90]

In [66]:
l = [1,34,56,78,34,23,78,90]
c,d = 0,0
for i in l:
    if i%2==0:
        c = c+1
    else:
        d = d+1
print(c)
print(d)

6
2

In [2]:
l = [1,2,3,4]
sum1 = 0
for i in l:
    sum1 = sum1+i
print(sum1)

10

In [65]:
l = [1,34,56,78,34,23,78,90]
len(l)

8

write a program to sum the no. of elements in the list

lets write a program to check the factors of num n and n has to asked from the user

10 - 1,2,5,10
15 - 1,3,5,15

In [78]:
n = int(input('Ent the no.'))
c = 0
for i in range(1,n+1):
    if n%i==0:
        print(i)
        c = c+1
if c==2:
    print('no. is prime and ','no. of factors',c,'of',n)
else:
    print('no. is Composite and ','no. of factors',c,'of',n)

Ent the no.45
1
3
5
9
15
45
no. is Composite and  no. of factors 6 of 45

In [ ]:
n = 23

In [ ]:
prime and composite 
prime have 2 factors 
comp have more than 2

In [54]:
c = 0
for i in [1,34,56,78,34,23,78,90]:
    c= c+i
print(c)

394

write a program to print all the factors of the number entered by the user

In [19]:
l = [1,2,3,4,5,6]
c = 0
for i in l:
    c = c+1
print(c)

6

In [20]:
l = input('enter').split(',')

enterthe,we,y,q

In [21]:
l

['the', 'we', 'y', 'q']

In [18]:
n = int(input("Enter the number for which u want to see factors : "))
print('factors are :')
for i in range(1,n+1):
    if n%i==0:
        print(i)

Enter the number for which u want to see factors : 45
factors are :
1
3
5
9
15
45

In [61]:
c=0
n = int(input('enter the no. u want to see factors of :'))
for i in range(1,n+1):
    if n%i==0:
        print('factors are : ',i)
        c = c+1
    else:
        pass
print('no. of factors are : ',c)
if c<=2:
    print('no. is prime :',n)
else:
    print('no. is composite :',n)

enter the no. u want to see factors of :5
factors are :  1
factors are :  5
no. of factors are :  2
no. is prime : 5

In [6]:
n = int(input('Enter the no. for which you want to see factorial :'))
if n<0:
    print('Factorial not possible')
elif n==0 or n==1:
    print('factorial is 1')
elif n>1:
    f = 1
    for i in range(n,0,-1):
        f = f*i
    print(f)

Enter the no. for which you want to see factorial :-1
Factorial not possible

In [1]:
n = int(input('Enter the no. for which you want to see factorial :'))
f = 1
for i in range(1,n+1):
    f = f*i
print(f)

Enter the no. for which you want to see factorial :5
120

In [63]:
n= int(input('enter the no whose table u want to print : '))
for i in range(1,11):
    print(n,'x',i,'=',i*n)

enter the no whose table u want to print : 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [5]:
for i in range(2000,3001,3):
    print(i)

2000
2003
2006
2009
2012
2015
2018
2021
2024
2027
2030
2033
2036
2039
2042
2045
2048
2051
2054
2057
2060
2063
2066
2069
2072
2075
2078
2081
2084
2087
2090
2093
2096
2099
2102
2105
2108
2111
2114
2117
2120
2123
2126
2129
2132
2135
2138
2141
2144
2147
2150
2153
2156
2159
2162
2165
2168
2171
2174
2177
2180
2183
2186
2189
2192
2195
2198
2201
2204
2207
2210
2213
2216
2219
2222
2225
2228
2231
2234
2237
2240
2243
2246
2249
2252
2255
2258
2261
2264
2267
2270
2273
2276
2279
2282
2285
2288
2291
2294
2297
2300
2303
2306
2309
2312
2315
2318
2321
2324
2327
2330
2333
2336
2339
2342
2345
2348
2351
2354
2357
2360
2363
2366
2369
2372
2375
2378
2381
2384
2387
2390
2393
2396
2399
2402
2405
2408
2411
2414
2417
2420
2423
2426
2429
2432
2435
2438
2441
2444
2447
2450
2453
2456
2459
2462
2465
2468
2471
2474
2477
2480
2483
2486
2489
2492
2495
2498
2501
2504
2507
2510
2513
2516
2519
2522
2525
2528
2531
2534
2537
2540
2543
2546
2549
2552
2555
2558
2561
2564
2567
2570
2573
2576
2579
2582
2585
2588
2591
2594
2597
2600
2603
2606
2609
2612
2615
2618
2621
2624
2627
2630
2633
2636
2639
2642
2645
2648
2651
2654
2657
2660
2663
2666
2669
2672
2675
2678
2681
2684
2687
2690
2693
2696
2699
2702
2705
2708
2711
2714
2717
2720
2723
2726
2729
2732
2735
2738
2741
2744
2747
2750
2753
2756
2759
2762
2765
2768
2771
2774
2777
2780
2783
2786
2789
2792
2795
2798
2801
2804
2807
2810
2813
2816
2819
2822
2825
2828
2831
2834
2837
2840
2843
2846
2849
2852
2855
2858
2861
2864
2867
2870
2873
2876
2879
2882
2885
2888
2891
2894
2897
2900
2903
2906
2909
2912
2915
2918
2921
2924
2927
2930
2933
2936
2939
2942
2945
2948
2951
2954
2957
2960
2963
2966
2969
2972
2975
2978
2981
2984
2987
2990
2993
2996
2999

wap to print fizz if the number is div by 3 buzz if the number is div by 5 and fizzbuzz if the number is div by 3 and 5 both. and range of numbers is 2000,3200.

In [13]:
for i in range(2000,3201):
    if i%3==0 and i%5==0:
        print("fizzbuzz")
    elif i%3==0:
        print("fizz")
    elif i%5==0:
        print("buzz")
    else:
        print(i)

buzz
fizz
2002
2003
fizz
buzz
2006
fizz
2008
2009
fizzbuzz
2011
2012
fizz
2014
buzz
fizz
2017
2018
fizz
buzz
2021
fizz
2023
2024
fizzbuzz
2026
2027
fizz
2029
buzz
fizz
2032
2033
fizz
buzz
2036
fizz
2038
2039
fizzbuzz
2041
2042
fizz
2044
buzz
fizz
2047
2048
fizz
buzz
2051
fizz
2053
2054
fizzbuzz
2056
2057
fizz
2059
buzz
fizz
2062
2063
fizz
buzz
2066
fizz
2068
2069
fizzbuzz
2071
2072
fizz
2074
buzz
fizz
2077
2078
fizz
buzz
2081
fizz
2083
2084
fizzbuzz
2086
2087
fizz
2089
buzz
fizz
2092
2093
fizz
buzz
2096
fizz
2098
2099
fizzbuzz
2101
2102
fizz
2104
buzz
fizz
2107
2108
fizz
buzz
2111
fizz
2113
2114
fizzbuzz
2116
2117
fizz
2119
buzz
fizz
2122
2123
fizz
buzz
2126
fizz
2128
2129
fizzbuzz
2131
2132
fizz
2134
buzz
fizz
2137
2138
fizz
buzz
2141
fizz
2143
2144
fizzbuzz
2146
2147
fizz
2149
buzz
fizz
2152
2153
fizz
buzz
2156
fizz
2158
2159
fizzbuzz
2161
2162
fizz
2164
buzz
fizz
2167
2168
fizz
buzz
2171
fizz
2173
2174
fizzbuzz
2176
2177
fizz
2179
buzz
fizz
2182
2183
fizz
buzz
2186
fizz
2188
2189
fizzbuzz
2191
2192
fizz
2194
buzz
fizz
2197
2198
fizz
buzz
2201
fizz
2203
2204
fizzbuzz
2206
2207
fizz
2209
buzz
fizz
2212
2213
fizz
buzz
2216
fizz
2218
2219
fizzbuzz
2221
2222
fizz
2224
buzz
fizz
2227
2228
fizz
buzz
2231
fizz
2233
2234
fizzbuzz
2236
2237
fizz
2239
buzz
fizz
2242
2243
fizz
buzz
2246
fizz
2248
2249
fizzbuzz
2251
2252
fizz
2254
buzz
fizz
2257
2258
fizz
buzz
2261
fizz
2263
2264
fizzbuzz
2266
2267
fizz
2269
buzz
fizz
2272
2273
fizz
buzz
2276
fizz
2278
2279
fizzbuzz
2281
2282
fizz
2284
buzz
fizz
2287
2288
fizz
buzz
2291
fizz
2293
2294
fizzbuzz
2296
2297
fizz
2299
buzz
fizz
2302
2303
fizz
buzz
2306
fizz
2308
2309
fizzbuzz
2311
2312
fizz
2314
buzz
fizz
2317
2318
fizz
buzz
2321
fizz
2323
2324
fizzbuzz
2326
2327
fizz
2329
buzz
fizz
2332
2333
fizz
buzz
2336
fizz
2338
2339
fizzbuzz
2341
2342
fizz
2344
buzz
fizz
2347
2348
fizz
buzz
2351
fizz
2353
2354
fizzbuzz
2356
2357
fizz
2359
buzz
fizz
2362
2363
fizz
buzz
2366
fizz
2368
2369
fizzbuzz
2371
2372
fizz
2374
buzz
fizz
2377
2378
fizz
buzz
2381
fizz
2383
2384
fizzbuzz
2386
2387
fizz
2389
buzz
fizz
2392
2393
fizz
buzz
2396
fizz
2398
2399
fizzbuzz
2401
2402
fizz
2404
buzz
fizz
2407
2408
fizz
buzz
2411
fizz
2413
2414
fizzbuzz
2416
2417
fizz
2419
buzz
fizz
2422
2423
fizz
buzz
2426
fizz
2428
2429
fizzbuzz
2431
2432
fizz
2434
buzz
fizz
2437
2438
fizz
buzz
2441
fizz
2443
2444
fizzbuzz
2446
2447
fizz
2449
buzz
fizz
2452
2453
fizz
buzz
2456
fizz
2458
2459
fizzbuzz
2461
2462
fizz
2464
buzz
fizz
2467
2468
fizz
buzz
2471
fizz
2473
2474
fizzbuzz
2476
2477
fizz
2479
buzz
fizz
2482
2483
fizz
buzz
2486
fizz
2488
2489
fizzbuzz
2491
2492
fizz
2494
buzz
fizz
2497
2498
fizz
buzz
2501
fizz
2503
2504
fizzbuzz
2506
2507
fizz
2509
buzz
fizz
2512
2513
fizz
buzz
2516
fizz
2518
2519
fizzbuzz
2521
2522
fizz
2524
buzz
fizz
2527
2528
fizz
buzz
2531
fizz
2533
2534
fizzbuzz
2536
2537
fizz
2539
buzz
fizz
2542
2543
fizz
buzz
2546
fizz
2548
2549
fizzbuzz
2551
2552
fizz
2554
buzz
fizz
2557
2558
fizz
buzz
2561
fizz
2563
2564
fizzbuzz
2566
2567
fizz
2569
buzz
fizz
2572
2573
fizz
buzz
2576
fizz
2578
2579
fizzbuzz
2581
2582
fizz
2584
buzz
fizz
2587
2588
fizz
buzz
2591
fizz
2593
2594
fizzbuzz
2596
2597
fizz
2599
buzz
fizz
2602
2603
fizz
buzz
2606
fizz
2608
2609
fizzbuzz
2611
2612
fizz
2614
buzz
fizz
2617
2618
fizz
buzz
2621
fizz
2623
2624
fizzbuzz
2626
2627
fizz
2629
buzz
fizz
2632
2633
fizz
buzz
2636
fizz
2638
2639
fizzbuzz
2641
2642
fizz
2644
buzz
fizz
2647
2648
fizz
buzz
2651
fizz
2653
2654
fizzbuzz
2656
2657
fizz
2659
buzz
fizz
2662
2663
fizz
buzz
2666
fizz
2668
2669
fizzbuzz
2671
2672
fizz
2674
buzz
fizz
2677
2678
fizz
buzz
2681
fizz
2683
2684
fizzbuzz
2686
2687
fizz
2689
buzz
fizz
2692
2693
fizz
buzz
2696
fizz
2698
2699
fizzbuzz
2701
2702
fizz
2704
buzz
fizz
2707
2708
fizz
buzz
2711
fizz
2713
2714
fizzbuzz
2716
2717
fizz
2719
buzz
fizz
2722
2723
fizz
buzz
2726
fizz
2728
2729
fizzbuzz
2731
2732
fizz
2734
buzz
fizz
2737
2738
fizz
buzz
2741
fizz
2743
2744
fizzbuzz
2746
2747
fizz
2749
buzz
fizz
2752
2753
fizz
buzz
2756
fizz
2758
2759
fizzbuzz
2761
2762
fizz
2764
buzz
fizz
2767
2768
fizz
buzz
2771
fizz
2773
2774
fizzbuzz
2776
2777
fizz
2779
buzz
fizz
2782
2783
fizz
buzz
2786
fizz
2788
2789
fizzbuzz
2791
2792
fizz
2794
buzz
fizz
2797
2798
fizz
buzz
2801
fizz
2803
2804
fizzbuzz
2806
2807
fizz
2809
buzz
fizz
2812
2813
fizz
buzz
2816
fizz
2818
2819
fizzbuzz
2821
2822
fizz
2824
buzz
fizz
2827
2828
fizz
buzz
2831
fizz
2833
2834
fizzbuzz
2836
2837
fizz
2839
buzz
fizz
2842
2843
fizz
buzz
2846
fizz
2848
2849
fizzbuzz
2851
2852
fizz
2854
buzz
fizz
2857
2858
fizz
buzz
2861
fizz
2863
2864
fizzbuzz
2866
2867
fizz
2869
buzz
fizz
2872
2873
fizz
buzz
2876
fizz
2878
2879
fizzbuzz
2881
2882
fizz
2884
buzz
fizz
2887
2888
fizz
buzz
2891
fizz
2893
2894
fizzbuzz
2896
2897
fizz
2899
buzz
fizz
2902
2903
fizz
buzz
2906
fizz
2908
2909
fizzbuzz
2911
2912
fizz
2914
buzz
fizz
2917
2918
fizz
buzz
2921
fizz
2923
2924
fizzbuzz
2926
2927
fizz
2929
buzz
fizz
2932
2933
fizz
buzz
2936
fizz
2938
2939
fizzbuzz
2941
2942
fizz
2944
buzz
fizz
2947
2948
fizz
buzz
2951
fizz
2953
2954
fizzbuzz
2956
2957
fizz
2959
buzz
fizz
2962
2963
fizz
buzz
2966
fizz
2968
2969
fizzbuzz
2971
2972
fizz
2974
buzz
fizz
2977
2978
fizz
buzz
2981
fizz
2983
2984
fizzbuzz
2986
2987
fizz
2989
buzz
fizz
2992
2993
fizz
buzz
2996
fizz
2998
2999
fizzbuzz
3001
3002
fizz
3004
buzz
fizz
3007
3008
fizz
buzz
3011
fizz
3013
3014
fizzbuzz
3016
3017
fizz
3019
buzz
fizz
3022
3023
fizz
buzz
3026
fizz
3028
3029
fizzbuzz
3031
3032
fizz
3034
buzz
fizz
3037
3038
fizz
buzz
3041
fizz
3043
3044
fizzbuzz
3046
3047
fizz
3049
buzz
fizz
3052
3053
fizz
buzz
3056
fizz
3058
3059
fizzbuzz
3061
3062
fizz
3064
buzz
fizz
3067
3068
fizz
buzz
3071
fizz
3073
3074
fizzbuzz
3076
3077
fizz
3079
buzz
fizz
3082
3083
fizz
buzz
3086
fizz
3088
3089
fizzbuzz
3091
3092
fizz
3094
buzz
fizz
3097
3098
fizz
buzz
3101
fizz
3103
3104
fizzbuzz
3106
3107
fizz
3109
buzz
fizz
3112
3113
fizz
buzz
3116
fizz
3118
3119
fizzbuzz
3121
3122
fizz
3124
buzz
fizz
3127
3128
fizz
buzz
3131
fizz
3133
3134
fizzbuzz
3136
3137
fizz
3139
buzz
fizz
3142
3143
fizz
buzz
3146
fizz
3148
3149
fizzbuzz
3151
3152
fizz
3154
buzz
fizz
3157
3158
fizz
buzz
3161
fizz
3163
3164
fizzbuzz
3166
3167
fizz
3169
buzz
fizz
3172
3173
fizz
buzz
3176
fizz
3178
3179
fizzbuzz
3181
3182
fizz
3184
buzz
fizz
3187
3188
fizz
buzz
3191
fizz
3193
3194
fizzbuzz
3196
3197
fizz
3199
buzz

- If you are going to perform some actions for each element in the sequence, then use for loop.
- for loops are used for sequential traversal.
- Using for loop we can iterate every element inside a given sequence. (like-: list, str, tuple, dict, set, range, etc)
- Syntax :
- for each_element in sequence:
        action/expressions/body

In [ ]:
for i in ["a","b"]:
    print(i)
    for j in range(1,3):
        print(j)
    for k in ["c","d"]:
        print(k)

In [2]:
for i in [1,2,3,4]:
    print(i*i)

1
4
9
16

WAP to print tables from 2to 8 and in reverse order.

In [23]:
for i in range(2,9):
    print("table of :",i)
    for j in range(10,0,-1):
        print(i*j,end = "-")
    print("\n")

table of : 2
20-18-16-14-12-10-8-6-4-2-

table of : 3
30-27-24-21-18-15-12-9-6-3-

table of : 4
40-36-32-28-24-20-16-12-8-4-

table of : 5
50-45-40-35-30-25-20-15-10-5-

table of : 6
60-54-48-42-36-30-24-18-12-6-

table of : 7
70-63-56-49-42-35-28-21-14-7-

table of : 8
80-72-64-56-48-40-32-24-16-8-

this body will be executed for every element present in the sequence. This sequence can be of any data type (like- str, range, list, tuple, dict, etc).

Q1. write a program that count the number of characters given in the string?

In [10]:
s = 'Madrid'

In [13]:
c = 0
for i in s:
    c = c+1
print(c)

6

In [ ]:
write a program to sum1 the elements of the list [12,34,67,23,90]

In [15]:
som = 0
for i in [12,34,67,23,90]:
    som = som+i
print(som)

226

In [5]:
for i in s:
    print(i,end='')

Madrid

In [4]:
len(s)

6

In [ ]:
for i in s:
    c

In [6]:
c = 0
for i in s:
    c = c+1
    print(c)

1
2
3
4
5
6

What is range function in python? (important)

❖ to represent the range of values.

❖ it is a data type as well as function.

❖ it represents sequence of values.

❖ suppose you want to print values from range of 0 to 10. then use range (11).

❖ (0 to end-1)

Note-: there are three ways how you can use range function

❖ range (stop) # here starting range is by default 0.

❖ range (start, stop)

❖ range(start, stop, increment)

Ex-: suppose you have written like-: range (1, 12). It means your range function contains the numbers like-: 1,2,3,4,5,6,7,8,9,10,11

In [2]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [3]:
a  = (12,True,2+4j,)

In [4]:
a%2

0

Q2.write a program to print all even numbers inside a given list

In [5]:
list1 = [1,23,45,67,56,34,12,89]

for i in list1:
    if i%2==0:
        print('the no. is even',i)
    else:
        print('the no. is odd ',i)

the no. is odd  1
the no. is odd  23
the no. is odd  45
the no. is odd  67
the no. is even 56
the no. is even 34
the no. is even 12
the no. is odd  89

In [9]:
for i in range(1,11):
    if i%2==0:
        print('no is even',i)
    else:
        print('no is odd',i)

no is odd 1
no is even 2
no is odd 3
no is even 4
no is odd 5
no is even 6
no is odd 7
no is even 8
no is odd 9
no is even 10

In [15]:
for i in range(1,50,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
list1 = [1,23,45,67,78,56,34,12,89]

for i in list1:
    if i%5==0:
        if i%3==0:
            print(i,'div')
        else:
            print(i)
    else:
        print('Not div')

In [1]:
list1 = [1,23,45,67,78,56,34,12,89]
s = 0
for i in list1:
    s = s+i
print(s)

405

Q3.write a program to print sum of all elements/sequences inside a list

In [3]:
list1 = [1,23,45,67,78,56,34,12,89]
count = 0
for i in list1:
    count = count+1

    print(count)

1
2
3
4
5
6
7
8
9

In [29]:
list1= [1,23,45,67,78,56,34,12,89]
sum1 = 0
for i in list1:
    
    sum1 = sum1+i

print(sum1)

405

In [ ]:
list2 = [1,2,3,30,49,60,90]
sum1 = 0
for i in list2:

we want to print the table of 2 
2X1 = 2
2X2 = 4
2X3 = 6
2x4 = 8

In [7]:
n = int(input('Enter the table u want to see : '))
lis1 = [1,2,3,4,5,6,7,8,9,10]
for i in lis1:
    print(n*i)

Enter the table u want to see : 8
8
16
24
32
40
48
56
64
72
80

Q4.write a program to print 10 numbers in reverse order

In [23]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [9]:
for i in range(2,5):
    print(i)

2
3
4

In [2]:
print( '*')
print( '        *')
print( '*                *')
print( '        *             *')
print( '*                *')
print( '        *')
print( '*')

*
        *
*                *
        *             *
*                *
        *
*

In [2]:
l = input('Enter the elements : ').split(',')

Enter the elements : a,b,c

In [3]:
l

['a', 'b', 'c']

Prime numbers

prime no. : 1,2,3,5,7,11

In [8]:
num = int(input('Enter the no. : '))

Enter the no. : 12

In [26]:
num = int(input('Enter the no. : '))

for i in range(2,11):
    if num%i==0:
        print('np',num)
        
    else:
        pass
print('p')

Enter the no. : 21
np 21
np 21
p

Q5.write a program to print the table of any number

Nested Loops

A nested loop is a loop inside a loop.
- The "inner loop" will be executed one time for each iteration of the "outer loop“
Syntax:

for variable in sequence:

    for variable in sequence:
    
        action/expressions/body
        
        action/expressions/body

In [21]:
for i in range(2,7):
    
    for j in range(1,11):
        print(i,'x',j,'=',i*j)
            
    print(' ')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [1]:
a = 1
b = 2
c = a
a = b
b = c
print(a,b)

2 1

In [3]:
n = int(input("enter the number upto which u want to see the series : "))
a = 0
b = 1
for i in range(1,n+1):
    print(a)
    c = a
    a = b
    b = a+c

enter the number upto which u want to see the series : 10
0
1
1
2
3
5
8
13
21
34

In [5]:
for i in range(1,3):
    print(i)
    for j in ["a","b"]:
        print(j)
for k in range(10,13):
    print(k)

1
a
b
2
a
b
10
11
12

In [ ]:
WAP to print the table from 4 to 10 in reverse order.

In [6]:
for i in range(4,11):
    print("table of :",i)
    for j in range(10,0,-1):
        print(i,"x",j,"=",i*j)
    print("**********************")

table of : 4
4 x 10 = 40
4 x 9 = 36
4 x 8 = 32
4 x 7 = 28
4 x 6 = 24
4 x 5 = 20
4 x 4 = 16
4 x 3 = 12
4 x 2 = 8
4 x 1 = 4
**********************
table of : 5
5 x 10 = 50
5 x 9 = 45
5 x 8 = 40
5 x 7 = 35
5 x 6 = 30
5 x 5 = 25
5 x 4 = 20
5 x 3 = 15
5 x 2 = 10
5 x 1 = 5
**********************
table of : 6
6 x 10 = 60
6 x 9 = 54
6 x 8 = 48
6 x 7 = 42
6 x 6 = 36
6 x 5 = 30
6 x 4 = 24
6 x 3 = 18
6 x 2 = 12
6 x 1 = 6
**********************
table of : 7
7 x 10 = 70
7 x 9 = 63
7 x 8 = 56
7 x 7 = 49
7 x 6 = 42
7 x 5 = 35
7 x 4 = 28
7 x 3 = 21
7 x 2 = 14
7 x 1 = 7
**********************
table of : 8
8 x 10 = 80
8 x 9 = 72
8 x 8 = 64
8 x 7 = 56
8 x 6 = 48
8 x 5 = 40
8 x 4 = 32
8 x 3 = 24
8 x 2 = 16
8 x 1 = 8
**********************
table of : 9
9 x 10 = 90
9 x 9 = 81
9 x 8 = 72
9 x 7 = 63
9 x 6 = 54
9 x 5 = 45
9 x 4 = 36
9 x 3 = 27
9 x 2 = 18
9 x 1 = 9
**********************
table of : 10
10 x 10 = 100
10 x 9 = 90
10 x 8 = 80
10 x 7 = 70
10 x 6 = 60
10 x 5 = 50
10 x 4 = 40
10 x 3 = 30
10 x 2 = 20
10 x 1 = 10
**********************

WAP to print the tables from 3 to 9 in reverse order

In [7]:
for i in range(3,10):
    for j in range(10,0,-1):
        print(i,"x",j,"=",i*j)
    print("----------------")

3 x 10 = 30
3 x 9 = 27
3 x 8 = 24
3 x 7 = 21
3 x 6 = 18
3 x 5 = 15
3 x 4 = 12
3 x 3 = 9
3 x 2 = 6
3 x 1 = 3
----------------
4 x 10 = 40
4 x 9 = 36
4 x 8 = 32
4 x 7 = 28
4 x 6 = 24
4 x 5 = 20
4 x 4 = 16
4 x 3 = 12
4 x 2 = 8
4 x 1 = 4
----------------
5 x 10 = 50
5 x 9 = 45
5 x 8 = 40
5 x 7 = 35
5 x 6 = 30
5 x 5 = 25
5 x 4 = 20
5 x 3 = 15
5 x 2 = 10
5 x 1 = 5
----------------
6 x 10 = 60
6 x 9 = 54
6 x 8 = 48
6 x 7 = 42
6 x 6 = 36
6 x 5 = 30
6 x 4 = 24
6 x 3 = 18
6 x 2 = 12
6 x 1 = 6
----------------
7 x 10 = 70
7 x 9 = 63
7 x 8 = 56
7 x 7 = 49
7 x 6 = 42
7 x 5 = 35
7 x 4 = 28
7 x 3 = 21
7 x 2 = 14
7 x 1 = 7
----------------
8 x 10 = 80
8 x 9 = 72
8 x 8 = 64
8 x 7 = 56
8 x 6 = 48
8 x 5 = 40
8 x 4 = 32
8 x 3 = 24
8 x 2 = 16
8 x 1 = 8
----------------
9 x 10 = 90
9 x 9 = 81
9 x 8 = 72
9 x 7 = 63
9 x 6 = 54
9 x 5 = 45
9 x 4 = 36
9 x 3 = 27
9 x 2 = 18
9 x 1 = 9
----------------

write a program to print the table from 2 to 6.

In [10]:
for i in range(2,7):
    print('this table is for ',i)
    for j in range(10,0,-1):
        
        print(i,'x',j,'=',i*j)
        
    print('************************')

this table is for  2
2 x 10 = 20
2 x 9 = 18
2 x 8 = 16
2 x 7 = 14
2 x 6 = 12
2 x 5 = 10
2 x 4 = 8
2 x 3 = 6
2 x 2 = 4
2 x 1 = 2
************************
this table is for  3
3 x 10 = 30
3 x 9 = 27
3 x 8 = 24
3 x 7 = 21
3 x 6 = 18
3 x 5 = 15
3 x 4 = 12
3 x 3 = 9
3 x 2 = 6
3 x 1 = 3
************************
this table is for  4
4 x 10 = 40
4 x 9 = 36
4 x 8 = 32
4 x 7 = 28
4 x 6 = 24
4 x 5 = 20
4 x 4 = 16
4 x 3 = 12
4 x 2 = 8
4 x 1 = 4
************************
this table is for  5
5 x 10 = 50
5 x 9 = 45
5 x 8 = 40
5 x 7 = 35
5 x 6 = 30
5 x 5 = 25
5 x 4 = 20
5 x 3 = 15
5 x 2 = 10
5 x 1 = 5
************************
this table is for  6
6 x 10 = 60
6 x 9 = 54
6 x 8 = 48
6 x 7 = 42
6 x 6 = 36
6 x 5 = 30
6 x 4 = 24
6 x 3 = 18
6 x 2 = 12
6 x 1 = 6
************************

In [31]:
n = 5
for i in range(1,11):
    print(n,'x',i,'=',i*n)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [4]:
20%1

0

In [43]:
c = 0
n = int(input('Enter the no u want to see factor of : '))
for i in range(1,n+1):
    if n%i == 0:
        print('factors are : ',i)
        c = c+1
    else:
        pass
if c<=2:
    print('no is prime')
else:
    print('no is composite')

Enter the no u want to see factor of : 10
factors are :  1
factors are :  2
factors are :  5
factors are :  10
no is composite

In [45]:
fact = 1
n =  int(input('Enter the no. u want to see the factorial of :'))
for i in range(1,n+1):
    fact = fact*i
print(fact)

Enter the no. u want to see the factorial of :5
120

## Nested loops

In [3]:
for i in range(1,3):
    print(i)
    for j in ["a","b"]:
        print(j)
for k in range(4,6):
    print(k)

1
a
b
2
a
b
4
5

Q6.write a program to print the table of numbers inside given range 2 to 8

In [6]:
for i in range(2,9):
    print("table of : ",i)
    for j in range(10,0,-1):
        print(i,"x",j,"=",i*j)

table of :  2
2 x 10 = 20
2 x 9 = 18
2 x 8 = 16
2 x 7 = 14
2 x 6 = 12
2 x 5 = 10
2 x 4 = 8
2 x 3 = 6
2 x 2 = 4
2 x 1 = 2
table of :  3
3 x 10 = 30
3 x 9 = 27
3 x 8 = 24
3 x 7 = 21
3 x 6 = 18
3 x 5 = 15
3 x 4 = 12
3 x 3 = 9
3 x 2 = 6
3 x 1 = 3
table of :  4
4 x 10 = 40
4 x 9 = 36
4 x 8 = 32
4 x 7 = 28
4 x 6 = 24
4 x 5 = 20
4 x 4 = 16
4 x 3 = 12
4 x 2 = 8
4 x 1 = 4
table of :  5
5 x 10 = 50
5 x 9 = 45
5 x 8 = 40
5 x 7 = 35
5 x 6 = 30
5 x 5 = 25
5 x 4 = 20
5 x 3 = 15
5 x 2 = 10
5 x 1 = 5
table of :  6
6 x 10 = 60
6 x 9 = 54
6 x 8 = 48
6 x 7 = 42
6 x 6 = 36
6 x 5 = 30
6 x 4 = 24
6 x 3 = 18
6 x 2 = 12
6 x 1 = 6
table of :  7
7 x 10 = 70
7 x 9 = 63
7 x 8 = 56
7 x 7 = 49
7 x 6 = 42
7 x 5 = 35
7 x 4 = 28
7 x 3 = 21
7 x 2 = 14
7 x 1 = 7
table of :  8
8 x 10 = 80
8 x 9 = 72
8 x 8 = 64
8 x 7 = 56
8 x 6 = 48
8 x 5 = 40
8 x 4 = 32
8 x 3 = 24
8 x 2 = 16
8 x 1 = 8

Q7.write a program to print the factorial result of given number

Q8.Write a program to print series of prime numbers between the range

In [42]:
3%2

1

In [45]:
for i in range(2,51):
    for j in range(2,i):
            if i%j==0:
                break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [46]:
s = 'Madrid'
s = s[::-1]
for i in s:
    print(i)

d
i
r
d
a
M

Pattern Questions

In [ ]:
*
* *
* * *
* * * *

In [5]:
rows = int(input("Enter the no. of rows u want to print : "))
for i in range(1,rows+1):
    print("* "*i)

Enter the no. of rows u want to print : 4
*
* *
* * *
* * * *

In [11]:
row = 4
for i in range(row,0,-1):
    print("* "*i)

* * * *
* * *
* *
*

In [13]:
rows = int(input('enter number'))
for i in range(1,rows+1):
    print('* '*i)
for i in range(rows-1,0,-1):
    print('* '*i)

enter number4
*
* *
* * *
* * * *
* * *
* *
*

In [15]:
rows = 7
for i in range(1,rows+1,1):
    print('* '*i)
for i in range(rows-1,0,-1):
    print('* '*i)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [18]:
rows = int(input('enter number'))
column = int(input('enter no'))
for i in range(rows+1):
    #print('* '*i)
    for n in range(1,column+1):
        print('* '*i, end = " ")

enter number4
enter no4
    *  *  *  *  * *  * *  * *  * *  * * *  * * *  * * *  * * *  * * * *  * * * *  * * * *  * * * *

In [21]:
row = 4
column = 4
for i in range(0,row):
    for j in range(0,column):
        print("*"*j)
    #print("*"*i)

*
**
***

*
**
***

*
**
***

*
**
***

In [37]:
row = int(input("enter num : "))
col = int(input("enter num : "))
for i in range(1,row+1):
    for j in range(1,col+1):
        print("*", end=" ")
    print("")

enter num : 5
enter num : 10
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [33]:
rows = int(input("enter the number of rows :"))
col = int(input("enter the number of cols : "))
for i in range(1,rows+1):
    for j in range(i+1):
        print()

enter the number of rows :4
enter the number of cols : 4
*
*
* *
* *
* *
* * *
* * *
* * *
* * *
* * * *
* * * *
* * * *
* * * *
* * * *

Q9.Write a program to print all factors of any given number

In [2]:
n = int(input('Enter the no. u want factors of  :'))

Enter the no. u want factors of  :20

In [3]:
n%1

0

In [4]:
n%2

0

In [5]:
n%3

2

In [6]:
n%4

0

In [7]:
n%5

0

In [8]:
n%20

0

In [ ]:
a = 1
b = 2
output:a = 2 and b=1

In [ ]:
fibonnaci series :
    0,1,1,2,3,5,8,13,21,34

In [10]:
a = 0 
b = 1
elements = int(input("Enter the number of elements in the series :"))
for i in range(0,elements):
    c=a
    a=b
    b=c+a
    print(c)

Enter the number of elements in the series :10
0
1
1
2
3
5
8
13
21
34

In [6]:
#Swap the numbers:
a = 1
b = 2

c = a
a = b
b = c
print(a)
print(b)

2
1

In [12]:
n = int(input('Enter the factor : '))
for i in range(1,n):
    if n%i == 0:
        print('factors are : ', end = '')
        print(i)
        
    else:
        pass

Enter the factor : 420
factors are : 1
factors are : 2
factors are : 3
factors are : 4
factors are : 5
factors are : 6
factors are : 7
factors are : 10
factors are : 12
factors are : 14
factors are : 15
factors are : 20
factors are : 21
factors are : 28
factors are : 30
factors are : 35
factors are : 42
factors are : 60
factors are : 70
factors are : 84
factors are : 105
factors are : 140
factors are : 210

In [13]:
n = int(input('Enter the no. u want to see if prime or composite : '))

Enter the no. u want to see if prime or composite : 78

In [15]:
78%2

0

In [3]:
n = int(input('Enter the no. u want to see the factorial of : '))

Enter the no. u want to see the factorial of : 5

In [8]:
if n<0:
    print('no fact for negative numbers')
elif n==1:
    print('fact is 1')
elif n ==0:
    print('fact is 1')
else:
    f = 1
    for i in range(1,n+1):
        f = f*i
    print('the fact is : ',f)

the fact is :  120

In [27]:
n = int(input('enter the no. till which we want to see the fibonacci series : '))
a = 0
b = 1
for i in range(1,n+1):
    c = a
    a = b
    b = a+c
    
    print(c)

enter the no. till which we want to see the fibonacci series : 8
0
1
1
2
3
5
8
13

In [10]:
for i in range(1,n+1):
    print(i)

1
2
3
4
5

In [14]:
c = 0
for i in range(1,n):
    if n%i == 0:
        c =c+1
        
    else:
        pass
if c<=2:
    print('prime')
else:
    print('Composite')

Composite

In [32]:
n = int(input('Enter the no. : '))

if n==0:
    print('factorial is 1')
elif n==1:
    print('fact is 1')
else:
    f = 1
    som = 0
    
    for i in range(1,n+1):
        f = f*i
    som = som + f

print(som)

Enter the no. : 5
120

In [11]:
for i in [[1,2,3],[4,5]]:
    #print(i)
    for j in i:
        #print(j)
        if type(j)==str:
            print(j)

2
4

In [12]:
l = [["python",1,2],[3,4,"is"],[5,"fun",6]]
for i in l:
    for j in i:
        if type(j)==str:
            print(j)

python
is
fun

In [15]:
meals = ["b1","l1","d1","b2","l1","d2","b3","l3","d2"]
meals.count("d2")

2

In [21]:
for i in meals:
    if meals.count(i)>1:
        print(i, ": is boring")

l1 : is boring
l1 : is boring
d2 : is boring
d2 : is boring

In [19]:
meals = ["b1","l1","d1","b2","l1","d2","b3","l3","d2"]
from collections import Counter
a = Counter(meals)
a

Counter({'b1': 1, 'l1': 2, 'd1': 1, 'b2': 1, 'd2': 2, 'b3': 1, 'l3': 1})

In [ ]:
dictionary:
    {key1:value,key2:val,key3:v3}

In [26]:
d = {1:"one","two":2}

In [31]:
for keys,values in d.items():
    print(keys,":",values)

1 : one
two : 2

In [25]:
s = "Mohammand Akbar"
a = Counter(s)
for i,j in a.items():
    if j>2:
        print(i,":",j)

a : 3

In [ ]:
a = 10
a = int(input)

In [28]:
l = [12,34,21,56,45,90]
for i in l:
    if i%7==0:
        print(i)
    else:
        pass

21
56

In [38]:
s = input()

mana

In [46]:
s = input("Enter the names of students : ").split()

Enter the names of students : ma ,e

ValueError: invalid literal for int() with base 10: 'ma ,e'

In [45]:
s

['a', 'b', 'c', 'd', 'e']

In [34]:
days = input("enter the day").split(sep= ",")

enter the daymon,tue,wed,thur,fri,sat,sun

l = [[12,45,23],[56,34,33],[21,73,44]]
u basically have to check how many of them are even and how many of them are odd

In [29]:
n = input('enter the elements of the list : ').split(',')

enter the elements of the list : 10, 23,45,27

In [34]:
lst = []
n
for i in n:
    i = int(i)
    print(type(i))
    print(i)

<class 'int'>
10
<class 'int'>
23
<class 'int'>
45
<class 'int'>
27

In [ ]:
l = [12,45,34,23,7,67,90,145]
WAP to count no. of elements in the list and sum the elements.

In [52]:
l = [12,45,34,23,7,67,90,145]
c = 0
sum1 = 0
for i in l:
    c = c+1
    sum1 = sum1+i
print("the sum of the list is : ",sum1)
print("the number of elements in the list is : ",c)

the sum of the list is :  423
the number of elements in the list is :  8

In [47]:
l = [12,45,34,23,7,67,90,145]
c = 0
for i in l:
    if i%7==0:
        c = c+1
print(c)
if c>0:
    print("lucky list",l)
else:
    print("unlucky list",l)

1
lucky list [12, 45, 34, 23, 7, 67, 90, 145]

In [ ]:
WAP wherein

In [ ]:
def has_lucky_number(nums):
    """Return whether the given list of numbers is lucky. A lucky list contains
    at least one number divisible by 7.
    """

In [19]:
l = [1,2,3,4]
l1 = []
for i in l:
    if i>2:
        l1.append(True)
    else:
        l1.append(False)
l1

[False, False, True, True]

party_attendees = ["neha","arpit","sid","megha","golu","bholu","ela","pihu"]
if the person arrives after half of the party guests then i should label him as a fashionably late but i shouldnt label the last person as fashionably late

In [4]:
l = ["golu","bholu","ela"]
l[2]

'ela'

In [8]:
l=["neha","arpit","sid","megha","golu","bholu","ela","pihu"]
c = 0
for i in l:
    c = c+1
#print(c)
for i in range(c):
    if i>=(c/2) and i!=c-1:
        print(l[i]," is fashionably late")

golu  is fashionably late
bholu  is fashionably late
ela  is fashionably late

In [5]:
l = ["neha","arpit","sid","megha","golu","bholu","ela","pihu"]
for i in range(len(l)):
    if i>=len(l)/2 and i!=len(l)-1:
        print(l[i]," is fashionably late")

golu  is fashionably late
bholu  is fashionably late
ela  is fashionably late

In [6]:
# l = [["a","b","c"],["a","f","e"],["a","c","d"]]
# l1 = []
# for i in l:
#     for j in i:
#         l1.append(j)
# l1
# if

['a', 'b', 'c', 'a', 'f', 'e', 'a', 'c', 'd']

In [39]:
# n = (input('enter the List of meals').split(','))

enter the List of mealsupma,idli,dosa,pizza,butter chicken,chowmein,biryani,idli,burger

print a pattern 
*
* *
* * *
* * * *

In [19]:
rows = int(input("enter the no. of rows:"))
for i in range(1,rows+1):
    print("* "*i)
    
for j in range(rows-1,0,-1):
    print("* "*j)

enter the no. of rows:4
*
* *
* * *
* * * *
* * *
* *
*

In [20]:
for i in range(1,rows+1):
    print(" *"*i)

 *
 * *
 * * *
 * * * *

In [14]:
rows = int(input())
space = rows-1
for i in range(1,rows+1):
    print(" "*space,end = "")
    print("* "*i)
    space = space-1

5
    *
   * *
  * * *
 * * * *
* * * * *

In [18]:
rows = int(input())
s = 5
space = 5
for i in range(1,rows):
    print(" "*space,end = "")
    print("* "*i)
for j in range(s):
    for k in range(1,s-i):
        print(" ",end = "")
    for m in range(0,i+1):
        print("* ",end = "")
    print()

5
     *
     * *
     * * *
     * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
s = 4
for i in range(s,0,-1):
    print(" "*i)
    for j in range(0,rows):
        print()

In [11]:
r = int(input("Enter the no. of rows : "))
for i in range(0,r):
    for j in range(0,i+1):
        print("*",end = " ")
    print(" ")
for i in range(r,0,-1):
    for j in range(0,i-1):
        print("*" ,end = " ")
    print(" ")

Enter the no. of rows : 8
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

Q10.Kaggle questions

In [64]:
meals = ['upma','idli','dosa','pizza','idli','chowmein','chowmein','idli','chowmein']

In [65]:
day1 = meals[:3]
day2 = meals[3:6]
day3 = meals[6:9]

In [66]:
day_wise_meals = list(zip(day1,day2,day3))

In [67]:
day_wise_meals

[('upma', 'pizza', 'chowmein'),
 ('idli', 'idli', 'idli'),
 ('dosa', 'chowmein', 'chowmein')]

In [72]:
list(range(3))

[0, 1, 2]

In [83]:
for i in day_wise_meals:
    #print(i)
    for j in range(2):
            if i[j]==i[j+1]:
                print(i[j]," is Boring")

idli  is Boring
idli  is Boring
chowmein  is Boring

party_attendees = ["neha","arpit","sid","megha","golu","bholu","ela","pihu"]
if the person arrives after half of the party guests then i should label him as a fashionably late but i shouldnt label the last person as fashionably late

In [84]:
player_name = "Virat_kohli"
runs = {'sachin':67,'dhoni':99,'Virat_kohli':32,'Rohit_sharma':87}
runs.items()

dict_items([('sachin', 67), ('dhoni', 99), ('Virat_kohli', 32), ('Rohit_sharma', 87)])

In [85]:
players = ["sachin","dhoni"]
runs = [67,99]
list(zip(players,runs))

[('sachin', 67), ('dhoni', 99)]

In [90]:
                                  
n = int(input("Enter the number :"))
if n<0:
    print("fact is not possible")
elif n==0 or n==1:
    print("fact is one")
else:
    f=1
    for i in range(n,0,-1):
        f=f*i
    print(f)

Enter the number :9
362880

In [36]:
def has_lucky_no(nums):
    for i in nums:
        if i%7==0:
            print('no. is lucky',i)
        else:
            pass
has_lucky_no([1,34,56,23,98])

no. is lucky 56
no. is lucky 98

In [38]:
[1, 2, 3, 4] 
for i in [1,2,3,4]:
    print(i>2)

False
False
True
True

In [7]:
a = 0
c = a
c

0

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
def feb():
    a = 0
    b = 1
    n = int(input('Enter the no. : '))
    for i in range(n):
        print(a)
        c = a
        a = b
        b = c+b
feb()

Enter the no. : 10
0
1
1
2
3
5
8
13
21
34

### nested loops

In [14]:
for i in range(2,6):
    for j in range(1,11):
        print(i*j)
    print('***********')

2
4
6
8
10
12
14
16
18
20
***********
3
6
9
12
15
18
21
24
27
30
***********
4
8
12
16
20
24
28
32
36
40
***********
5
10
15
20
25
30
35
40
45
50
***********

In [1]:
a = 10
b = 20
c = a+b
c

30

In [ ]:
class car:
    color = "black"
    speed = 320 
    mileage = 13.5
    
    def show():
        print(the color , and speed and mileage )

In [4]:
n = input('Enter the values ').split(',')

Enter the values 2,3,4,5,6

In [12]:
n
l = []
for i in n:
    a = int(i)
    print(a)
    l.append(a)
print(l)

2
3
4
5
6
[2, 3, 4, 5, 6]

In [3]:
for i in range(3,9):
    for j in range(10,0,-1):
        print(i,'x',j,'=',i*j)
    print('**************')

3 x 10 = 30
3 x 9 = 27
3 x 8 = 24
3 x 7 = 21
3 x 6 = 18
3 x 5 = 15
3 x 4 = 12
3 x 3 = 9
3 x 2 = 6
3 x 1 = 3
**************
4 x 10 = 40
4 x 9 = 36
4 x 8 = 32
4 x 7 = 28
4 x 6 = 24
4 x 5 = 20
4 x 4 = 16
4 x 3 = 12
4 x 2 = 8
4 x 1 = 4
**************
5 x 10 = 50
5 x 9 = 45
5 x 8 = 40
5 x 7 = 35
5 x 6 = 30
5 x 5 = 25
5 x 4 = 20
5 x 3 = 15
5 x 2 = 10
5 x 1 = 5
**************
6 x 10 = 60
6 x 9 = 54
6 x 8 = 48
6 x 7 = 42
6 x 6 = 36
6 x 5 = 30
6 x 4 = 24
6 x 3 = 18
6 x 2 = 12
6 x 1 = 6
**************
7 x 10 = 70
7 x 9 = 63
7 x 8 = 56
7 x 7 = 49
7 x 6 = 42
7 x 5 = 35
7 x 4 = 28
7 x 3 = 21
7 x 2 = 14
7 x 1 = 7
**************
8 x 10 = 80
8 x 9 = 72
8 x 8 = 64
8 x 7 = 56
8 x 6 = 48
8 x 5 = 40
8 x 4 = 32
8 x 3 = 24
8 x 2 = 16
8 x 1 = 8
**************

***
***
***
***
***

write a program to print a certain pattern :
* 
* *
* *  *
* *  *  * 
                    *
                  *   *
                 *  *  *
               *  *   *  *

In [11]:
rows = int(input('Enter the numbers of rows u want to have : '))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*', end = ' ')
    print(' ')

Enter the numbers of rows u want to have : 4
*
* *
* * *
* * * *

In [11]:
rows = 5
for j in range(1, rows+1):
    print("* " * j)

*
* *
* * *
* * * *
* * * * *

In [17]:
r = int(input("Enter the rows : "))
n = r
for i in range(0,r):
    print(" "*n,end ='')
    print("* "*i)
    n = n-1

Enter the rows : 5

    *
   * *
  * * *
 * * * *

In [1]:
n = int(input('Enter the no. of rows :'))
k = n-1
for i in range(1,n+1):
    for j in range(1,k+1):
        print(end = ' ')
        
    k = k-1
    
    
    for r in range(1,i+1):
        print('*' ,end = ' ')
    print(' ')

Enter the no. of rows :4
   *
  * *
 * * *
* * * *

write a program to take a range from (1,100) and print fizz for the no.s which are div by 3 , print buzz which are div by 5 and print 'fizzbuzz' for the numbers div by both.(function)

In [3]:
def fizzbuzz():
    for i in range(1,101):
        if i%3==0 and i%5==0:
            print('fizzbuzz',i)        
        elif i%5==0:
            print('buzz',i)
        elif i%3==0:
            print('fizz',i)
        else:
            print(i)
fizzbuzz()

1
2
fizz 3
4
buzz 5
fizz 6
7
8
fizz 9
buzz 10
11
fizz 12
13
14
fizzbuzz 15
16
17
fizz 18
19
buzz 20
fizz 21
22
23
fizz 24
buzz 25
26
fizz 27
28
29
fizzbuzz 30
31
32
fizz 33
34
buzz 35
fizz 36
37
38
fizz 39
buzz 40
41
fizz 42
43
44
fizzbuzz 45
46
47
fizz 48
49
buzz 50
fizz 51
52
53
fizz 54
buzz 55
56
fizz 57
58
59
fizzbuzz 60
61
62
fizz 63
64
buzz 65
fizz 66
67
68
fizz 69
buzz 70
71
fizz 72
73
74
fizzbuzz 75
76
77
fizz 78
79
buzz 80
fizz 81
82
83
fizz 84
buzz 85
86
fizz 87
88
89
fizzbuzz 90
91
92
fizz 93
94
buzz 95
fizz 96
97
98
fizz 99
buzz 100

*
*  *
*  *  *
*  *  *  *

In [4]:
for i in range(1,3):
    print(i)
    for j in range(1,i+1):
        print(j)

1
1
2
1
2

In [1]:
a = 25

In [3]:
if a>10 and a<20 or a==12:
    print('condition true')
else:
    print('condition false')

condition false

column == 1 or ((row == 0 or row == 6) and (column > 1 and column < 5)) or (column == 5 and row != 0 and row != 6   
result_str=result_str+"*"

In [17]:
rows = int(input('Enter the no. of rows : '))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print("*",end = ' ')
    print(' ')

Enter the no. of rows : 4
*
* *
* * *
* * * *

In [ ]:
0 1 1 2 3 5 8 13 21 34

In [26]:
a = 0
b = 1
l = []
for i in range(10):
    c = a
    a = b
    b = a+c
    l.append(c)
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [11]:
for j in ['a','b','c']:
    print(j)

a
b
c

In [4]:
for i in [1,2,3]:
    while i<4:
        print(i)
        i=i+1

1
2
3
2
3
3

WAP to check if the no.s in the range 100 to 400's each digit is div by 2 or not if each digit is div by 2 then we are going to print the no. as even else we are going to print it as odd.

In [12]:
for i in range(10,41):
    c = 0
    s = str(i)
    for j in s:
        if int(j)%2==0:
            c = c+1
    if c==len(s):
        print(i," is even")
    else:
        print(i," is odd")

10  is odd
11  is odd
12  is odd
13  is odd
14  is odd
15  is odd
16  is odd
17  is odd
18  is odd
19  is odd
20  is even
21  is odd
22  is even
23  is odd
24  is even
25  is odd
26  is even
27  is odd
28  is even
29  is odd
30  is odd
31  is odd
32  is odd
33  is odd
34  is odd
35  is odd
36  is odd
37  is odd
38  is odd
39  is odd
40  is even

In [7]:
m = 3
n = 3
l = []
for i in range(m+1):
    for j in range(n+1):
        l.append(i*j)
#print(l)
import numpy as np 
l = np.array(l)
l = l.reshape(4,4)
print(l)

[[0 0 0 0]
 [0 1 2 3]
 [0 2 4 6]
 [0 3 6 9]]

In [21]:
for i in range(100,400):
    i = str(i)
    c = 0
    for j in i:
        j = int(j)
        if j%2==0:
            
            c = c+1
        else:
            pass
    if c==3:
        print("the number is even",i)
    else:
        pass

the number is even 200
the number is even 202
the number is even 204
the number is even 206
the number is even 208
the number is even 220
the number is even 222
the number is even 224
the number is even 226
the number is even 228
the number is even 240
the number is even 242
the number is even 244
the number is even 246
the number is even 248
the number is even 260
the number is even 262
the number is even 264
the number is even 266
the number is even 268
the number is even 280
the number is even 282
the number is even 284
the number is even 286
the number is even 288

WAP to print the meal to be boring if the meal is repeating two days in row . first we need to take the list of three days meals

In [1]:
meals = [["upma","idli","biryani"],["poha","idli","dalia"],["parathe","upma","dalia"]]
day1 = meals[0]
day2 = meals[1]
day3 = meals[2]

In [7]:
l=list(zip(day1,day2,day3))
for i in l:
    for j in range(2):
        if i[j]== i[j+1]:
            print(i[j]," is boring")

['parathe', 'upma', 'dalia']
idli  is boring
dalia  is boring

In [25]:
day1 = meals[0]
day2 = meals[1]
day3 = meals[2]
for i in range(0,3):
    if day1[i] == day2[i]:
        print(day1[i]," is boring")

idli  is boring

In [20]:
l = []
for i in meals:
    #print(i)
    for j in i:
        l.append(j)
l
for i in l:
    if l.count(i)>1:
        print(i,":","boring")

upma : boring
idli : boring
idli : boring
dalia : boring
upma : boring
dalia : boring

### While

➢ when we already know that how many times i must do the iterations, then we go for "for loop".

➢ if i don't know iterations in advance (i.e., how many times i must iterate), then go for "while loop".

➢ While Loops is used to execute a block of statements repeatedly until a given condition is satisfied.

while condition:
    body/expressions
    
➢ when condition returns False our while will stop. you can also use else with while loop.

In [3]:
i=0
while i<5:
    i=i+1
    print(i)

1
2
3
4
5

In [6]:
n = int(input("Enter the number : "))
i = 10
while i>0:
    print(i*n)
    i = i-1

Enter the number : 8
80
72
64
56
48
40
32
24
16
8

In [8]:
for i in range(6,1,-1):
    j=10
    while j>0:
        print(i*j)
        j=j-1
    print("********")

60
54
48
42
36
30
24
18
12
6
********
50
45
40
35
30
25
20
15
10
5
********
40
36
32
28
24
20
16
12
8
4
********
30
27
24
21
18
15
12
9
6
3
********
20
18
16
14
12
10
8
6
4
2
********

In [13]:
i = 6
while i>1:
    j=10
    while j>0:
        print(i*j)
        j=j-1
    i=i-1
    print("********")

60
54
48
42
36
30
24
18
12
6
********
50
45
40
35
30
25
20
15
10
5
********
40
36
32
28
24
20
16
12
8
4
********
30
27
24
21
18
15
12
9
6
3
********
20
18
16
14
12
10
8
6
4
2
********

In [15]:
i = 1
while i<31:
    if i%2==0:
        print(i)
    i = i+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [ ]:
reverse table using while loop

In [17]:
n = int(input("Table of : "))
i = 10
while i>0:
    print(n*i)
    i = i-1

Table of : 5
50
45
40
35
30
25
20
15
10
5

In [ ]:
Jumping statements : 
    1) break 
    2) continue 
    3) pass

SyntaxError: unexpected EOF while parsing (<ipython-input-18-cc86526ae74e>, line 2)

In [16]:
s = "Madrid"
for i in s:
    if i=="r":
        pass
        print(i)
    else:
        print(i)

M
a
d
r
i
d

In [ ]:
WAP to print the square of numbers from 1-10 except for 3 and 9

In [19]:
for i in range(1,11):
    if i==3 or i==9:
        continue
    print(i**2)

1
4
16
25
36
49
64
100

In [20]:
i=0
while i<10:
    i=i+1
    if i==3 or i==9:
        continue
    print(i**2)

1
4
16
25
36
49
64
100

In [25]:
s = "Madrid"
for i in s:
    if i=="r":
        break
        print(i)
    else:
        print(i)

M
a
d

In [23]:
a,b=10,20
if a>b:
    pass

In [8]:
a = 1
while a<=10:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

Using while i have to print which no.s are even and which are odd in the range of 10 to 30

In [ ]:
WAP to print the cube of 1 to 10 numbers except 3 and 8

In [31]:
i = 1
while i<11:
    if i==3 or i==8:
        i = i+1
        continue
    else:
        print(i,":",i**3)
    i = i+1

1 : 1
2 : 8
4 : 64
5 : 125
6 : 216
7 : 343
9 : 729
10 : 1000

In [9]:
i = 10
while i<=30:
    if i%2 == 0:
        print("number % is even"%i)
        i+=1
    else:
        print("number % is odd"%i)
        i+=1

number  10s even
number  11s odd
number  12s even
number  13s odd
number  14s even
number  15s odd
number  16s even
number  17s odd
number  18s even
number  19s odd
number  20s even
number  21s odd
number  22s even
number  23s odd
number  24s even
number  25s odd
number  26s even
number  27s odd
number  28s even
number  29s odd
number  30s even

In [10]:
i = 10
while i<=30:
    if i%2 == 0:
        print("number % is even"%i)
    else:
        print("number % is odd"%i)
    i+=1

number  10s even
number  11s odd
number  12s even
number  13s odd
number  14s even
number  15s odd
number  16s even
number  17s odd
number  18s even
number  19s odd
number  20s even
number  21s odd
number  22s even
number  23s odd
number  24s even
number  25s odd
number  26s even
number  27s odd
number  28s even
number  29s odd
number  30s even

In [2]:
i = 0
while i<5:
    print(i)
    i = i+1
else:
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [37]:
s = "madam"
i = 1
while i<len(s)+1:
    print(s[-i])
    i = i+1

m
a
d
a
m

' singh'

In [60]:
l = input("Enter words u want to check for palindrome :").split()
for j in l:
    print(j)
    i= 1
    while i<len(j)+1:
        print(j[-i],end="")
        i = i+1
    print(" ")

Enter words u want to check for palindrome :arora mango eye
arora
arora
mango
ognam
eye
eye

s = "madam"
using while loop i have to reverse the string and check if it is same as before which we basically call as palindrome

In [11]:
s = "madam"
s = "MadaM"
# using while loop reverse the string and check if is same before (Palindrome)
i = 0
j = []
rev = []
while i<len(s):
    j.append(s[i])
    rev.append(s[-i])
    i+=1
print(j)
print(rev)
if j == rev:
    print("It's Palindrome!!")
else:
    print("Not a Palindrome!!")

['M', 'a', 'd', 'a', 'M']
['M', 'M', 'a', 'd', 'a']
Not a Palindrome!!

In [17]:
s = "madam"
i = 1
x = ""
while i<len(s)+1:
    x = x+s[-i]
    i+=1
if x==s:
    print(x," is palindrome ")
else:
    print(x," is not palindrome ")

madam  is palindrome

In [19]:
s = "madam"
# using while loop reverse the string and check if is same before (Palindrome)
i = 1
x = ""
while i<=len(s):
    x = x+s[-i]
    i+=1
if s == x:
    print("Its Palindrome!!")
else:
    print("Not a Palindrome")

Its Palindrome!!

In [ ]:
Infinite loop in while

In [63]:
while True:
    if i<10:
        print(i)
        i=i+1
    else:
        break

1
2
3
4
5
6
7
8
9

WAP to enter the user and password from the user . if the username or password is wrong .then we need to re enter again

In [66]:
while True:
    username = input("username")
    pas = input("password")
    if username=="aman@123" and pas == "123456789":
        print("valid")
        break
    else:
        print("wrong credentials enter again !!!")
        continue

usernameasdasdf
password1324
wrong credentials enter again !!!
usernamexcvb
password56778
wrong credentials enter again !!!
usernameaman@123
password123456789
valid

WAP to take input from the user regarding various words and check if they are palindrome or not

In [1]:
while True:
    passwrd = input("Enter Password: ")
    if passwrd == "Feb@2022":
        print("Password authentication successful with password %s"%passwrd)
    else:
        
        continue
    break

Enter Password: aman@123
Enter Password: Feb@2022
Password authentication successful with password Feb@2022

In [23]:
#WAP to take input from user and then check if they are palindrome or not
#sample list = ['madam','text']
x = ""
j = 1
l = input("Enter multiple words: ").split()
print(l)
for i in l:
    print(i)
    while j <= len(i):
        x = x+i[-j]
        j+=1
        print(x)

Enter multiple words: madam arora eat
['madam', 'arora', 'eat']
madam
m
ma
mad
mada
madam
arora
eat

In [28]:
l = input("Enter multiple words: ").split(sep=",")
print(l)

for i in l:
    print(i)
    j = 1
    x = ""
    while j<=len(i):
        x= x+i[-j]
        j+=1
    print(x)

Enter multiple words: madam,text,eye,eat
['madam', 'text', 'eye', 'eat']
madam
madam
text
txet
eye
eye
eat
tae

In [26]:
#WAP to take input from user and then check if they are palindrome or not
#sample list = ['madam','text']
x = ""

lis = []
lis = input("Enter multiple words: ").split(",")
print(lis)
for i in lis:
    x = ""
    j = 1
    print("i is %s",i)
    while j <= len(i):
        x = x+i[-j]
        j+=1
    if x == i:
        print("It's Palindrome!")
    else:
        print("Not a Palindrome")

Enter multiple words: madam,text,eye,eat
['madam', 'text', 'eye', 'eat']
i is %s madam
It's Palindrome!
i is %s text
Not a Palindrome
i is %s eye
It's Palindrome!
i is %s eat
Not a Palindrome

In [5]:
i = 12
while i<=10:
    i = i+1
    print(i)
else:
    print(i)

12

In [25]:
i=0
while i<=10:
    i = i+2
    print(i)
else:
    print("Done",i)

2
4
6
8
10
12
Done 12

In [6]:
s = "strings"
len(s)
using while loop 
"sgnirts"

7

In [13]:
s = "Strings"
i = 1
while i<=len(s):
    print(s[-i],end = "")
    i = i+1

sgnirtS

In [ ]:
palindrome = "madam","pip","nitin"

Write a program to print a string in reverse order using while loop
s = "Strings"

In [26]:
s="Strings"
i=1
while i<8:
    print(s[-i])
    i = i+1

s
g
n
i
r
t
S

### infinite loops

In [16]:
while True:
    for i in range(1,11):
        if i%2!=0:
            print(i*i)
        else:
            print(i)
    break

1
2
9
4
25
6
49
8
81
10

Write a program to take a password from the user , if the password matches your password print it if it doesnt ask the user to enter again. and this should continue untill we get the right password.

In [17]:
while True:
    p =input("Enter the password : ")
    if p=="anubhav@123":
        print("valid")
        break

    else:
        print("invalid password try again")

Enter the password : aman@1123
invalid password try again
Enter the password : anubhav@123
valid

In [31]:
while True:
    p = input("Enter the password : ")
    if p=="aman@123":
        print(p)
        break
    else:
        print("invalid enter again : ")
        pass

Enter the passwordanu@123
invalid enter again
Enter the passwordwer%34453
invalid enter again
Enter the passwordaman@123
aman@123

#### jumping statements :

-  break 
-  pass
-  continue

In [4]:
for i in "Madrid":
    if i=="d":
        pass
        print(i)
    else:
        print(i)

M
a
d
r
i
d

In [41]:
for i in "Madrid":
    if i=="d":
        pass
        print(i,end = " ")
    else:
        print(i, end = " ")

M a d r i d

In [40]:
for i in "Madrid":
    if i=="d":
        continue
        print(i,end = " ")
    else:
        print(i, end = " ")

M a r i

Write a program to print the cubes of numbers from 1 to 10 using while loop except 3 and 8.`

In [7]:
i = 1
while i<=10:
    if i == 3 or i == 8:
        i+=1
    else:
        print(i**3)
        i+=1

1
8
64
125
216
343
729
1000

In [32]:
i = 1
while i<=10:
    if i==3 or i==8:
        i=i+1
    else:
        print(i**3)
        i = i+1

1
8
64
125
216
343
729
1000

In [44]:
i=0
while i<10:
    i = i+1
    if i==3 or i==8:
        continue
    print(i**3)

1
8
64
125
216
343
729
1000

In [9]:
i = 0
while i<=10:
    print(i*i)
    i = i+1
else:
    print('We are done uptill 10')

0
1
4
9
16
25
36
49
64
81
100
We are done uptill 10

In [ ]:
write a program to find all the even nos. between 1 to 50 (both included) using while loops.

In [13]:
i = 2
while i<=50:
    print(i)
    i=i+2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

while condition:
    body
else:
    body

In [ ]:
while condition:
    body of the loop

In [8]:
i = 0
while i<4:
    i= i+1
    print(i)
else:
    print('done')

1
2
3
4
done

In [1]:
i = 0
while i<4:
    print(i)
    i = i+1
else:
    print('done',i)

0
1
2
3
done 4

In [4]:
i = 0
while i<4:
    print(i)
    i = i+1

0
1
2
3

In [ ]:
i = 1
while i<101:
    if

In [3]:
i = 0
while i<4:
    i= i+1
    print(i)
    break
else:
    print("done")

1

In [2]:
for i in "Madrid":
    if i =="d":
        break
    else:
        print(i)

M
a

In [5]:
for i in "Madrid":
    if i =="d":
        continue
        print(i)
    else:
        print(i)

M
a
r
i

In [6]:
for i in "Madrid":
    if i =="d":
        pass
        print(i)
    else:
        print(i)

M
a
d
r
i
d

### Infinite While loop

a loop which has the capability to iterate infinite times.

In [8]:
i = 0
while True:
    print(i)
    i = i+1
    if i>20:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [2]:
i = 0
while i<5:
    print(i)
    i = i+1

0
1
2
3
4

In [6]:
i = 0 
while True:
    if i<50:
        print(i)
        i = i+1
    else:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [7]:
for i in 'Amandeep':
    if i=='d':
        break
    print(i,end = '')

Aman

In [8]:
for i in 'Amandeep':
    if i=='d':
        continue
    print(i,end = '')

Amaneep

In [9]:
for i in 'Amandeep':
    if i=='d':
        pass
    print(i,end = '')

Amandeep

In [4]:
i = 0 
while True:
    if i<50:
        print(i)
        i= i+1
    else:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

Write a program to print all even no.s using Infinite while Loop between 300 and 500

In [14]:
i = 300
while True:
    for i in range(300,501):
        if i%2==0:
            print(i,end = ",")
        elif i%2!=0:
            pass
    break

300,302,304,306,308,310,312,314,316,318,320,322,324,326,328,330,332,334,336,338,340,342,344,346,348,350,352,354,356,358,360,362,364,366,368,370,372,374,376,378,380,382,384,386,388,390,392,394,396,398,400,402,404,406,408,410,412,414,416,418,420,422,424,426,428,430,432,434,436,438,440,442,444,446,448,450,452,454,456,458,460,462,464,466,468,470,472,474,476,478,480,482,484,486,488,490,492,494,496,498,500,

In [15]:
i = 300
while i>=300 and i<=500:
    if i%2==0:
        print(i,end = ",")
        i = i+1
    else:
        i = i+1

300,302,304,306,308,310,312,314,316,318,320,322,324,326,328,330,332,334,336,338,340,342,344,346,348,350,352,354,356,358,360,362,364,366,368,370,372,374,376,378,380,382,384,386,388,390,392,394,396,398,400,402,404,406,408,410,412,414,416,418,420,422,424,426,428,430,432,434,436,438,440,442,444,446,448,450,452,454,456,458,460,462,464,466,468,470,472,474,476,478,480,482,484,486,488,490,492,494,496,498,500,

In [6]:
i = 0
while i<51:
    if i%2==0:
        print(i,'is even')
        i = i+1
    else:
        i=i+1

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even

In [5]:
i = 0
while i<51:
    if i%2==0:
        print(i,' is even')
        i = i+1
    else:
        i=i+1

0  is even
2  is even
4  is even
6  is even
8  is even
10  is even
12  is even
14  is even
16  is even
18  is even
20  is even
22  is even
24  is even
26  is even
28  is even
30  is even
32  is even
34  is even
36  is even
38  is even
40  is even
42  is even
44  is even
46  is even
48  is even
50  is even

Write a program to print all odd numbers between 1 to 100.

In [9]:
i = 1
while i<100:
    if i%2!=0:
        print(i)
    i = i+1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

### Jumping Statements

- Break 
- continue 
- Pass

#### break

➢ come out of something(loop).

➢ if we want to break our loop Execution forcefully, then we use break statement.

➢ we usually break our loop execution based on some conditions.

#### continue

As the name suggests the continue statement forces the loop to continue or execute the next iteration. When the continue statement is executed in the loop, the code inside the loop following the continue statement will be skipped and the next iteration of the loop will begin.

#### pass
➢ As the name suggests pass statement simply does nothing.

➢ The pass statement in Python is used when a statement is required syntactically but you do not want any command or code to execute.

➢ It is like null operation, as nothing will happen is it is executed. Pass statement can also be used for writing empty loops. Pass is also used for empty control statement, function and classes.

In [10]:
i = 1
if i==1:
    pass

Q2. write a program that prints the table of numbers between 2 to 6. But it prints only 5 terms for each number in this range?

In [9]:
#WAP to print table of numbers between 2 to 6
# but it prints only 5 terms for each number in this range

i = 2
while i<=6:
    print("table of :",i)
    for j in range(1,6):
        print(i*j)
    i+=1

table of : 2
2
4
6
8
10
table of : 3
3
6
9
12
15
table of : 4
4
8
12
16
20
table of : 5
5
10
15
20
25
table of : 6
6
12
18
24
30

In [2]:
n = 2
while n<7:
    i = 1
    while i<6:
        print(n*i)
        i = i+1
    print("------------")
    n = n+1

2
4
6
8
10
------------
3
6
9
12
15
------------
4
8
12
16
20
------------
5
10
15
20
25
------------
6
12
18
24
30
------------

Q3. write a program that takes a string and print characters of that string, but if character found ‘i’ then break the printing of characters

In [16]:
for i in "Madrid":
    if i=="i":
        break
    else:
        print(i)

M
a
d
r

In [18]:
while True:
    for i in "Madrid":
        if i=='i':
            break
        else:
            print(i)
    break

M
a
d
r

In [54]:
for i in 'Amandeep':
    if i == 'a':
        break
    print(i)
print('the end')

A
m
the end

In [53]:
for i in 'Amandeep':
    if i == 'a':
        continue
    print(i)
print('the end')

A
m
n
d
e
e
p
the end

In [56]:
for i in 'Amandeep':
    if i == 'a':
        pass
    print(i)
print('the end')

A
m
a
n
d
e
e
p
the end

In [34]:
for i in range(1,3):
    print(i,end = "")

1 2

write a program to print the area of circle for three different radius and radius values are :
radius = [5,10,15] if the area is greater than 80 cm2 toh skip the print of that area.
area = 3.14*radius**2

In [11]:
rad = [5,10,15]
i = 0
while i<=2:
    #print(rad[i])
    area = 3.14*rad[i]**2
    #print("area when radius is %s"%rad[i])
    print(f"the area of the circle with {rad[i]} is {area}")
    i+=1

the area of the circle with 5 is 78.5
the area of the circle with 10 is 314.0
the area of the circle with 15 is 706.5

In [10]:
radius = [5,10,15]
for i in radius:
    area = 3.14*i**2
    if area>80:
        continue
    print(area)

78.5

write a program that prints given string but it skips the character ‘i’ or ‘g’.
Sol).
#Use of continue statement inside the loop

In [9]:
for s in 'Mishra':
    if s == 'h':
        continue
    print(s)
print('the end')

M
i
s
r
a
the end

In [14]:
for s in 'Mishra':
    if s == 'h':
        pass
        print('pass does nothing it just get executed')
    print(s)
print('the end')

M
i
s
pass does nothing it just get executed
h
r
a
the end

In [2]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print(planet, end=',')

Mercury,Venus,Earth,Mars,Jupiter,Saturn,Uranus,Neptune,

In [4]:
strings = 'Gaurav pal'
for string in strings:
    print(string, end = " ")

G a u r a v   p a l

In [57]:
i = 0
while i<7:
    if i==3 or i==6:
        pass
        i = i+1
        print(i)
    else:
        print(i)
        
        i = i+1

0
1
2
4
4
5
7

write a program using while loops to check if the numbers between 3000 to 3030 are div by 5 and 7 ,if a number is div by both then stop the iteration.

In [17]:
while True:
    for i in range(3000,3031):
        if i%7==0 and i%5==0:
            pass
            print(i,'div by both')
        elif i%5==0:
            print(i,'is div by 5')
        elif i%7==0:
            print(i,'is div by 7')
    break

3000 is div by 5
3003 is div by 7
3005 is div by 5
3010 div by both
3015 is div by 5
3017 is div by 7
3020 is div by 5
3024 is div by 7
3025 is div by 5
3030 is div by 5

In [18]:
def f():
    i = 0
    while i<=6:
        if i%3 == 0 or i%6 == 0:
            i=i+1
        
        else:
            print(i)
            i = i+1
f()

1
2
4
5

Write a program to print the square of numbers from 1 to 10 except 3 and 6 using while loops.

In [2]:
i = 1
while i<11:
    if i==3 or i==6:
        continue
        i = i+1
    else:
        print(i*i)
        i = i+1

1
4

KeyboardInterrupt:

In [40]:
0%3

0

write a program to print a table using while loops

In [13]:
n = int(input('Enter the no. for table : '))
i = 10
while i>0:
    print(n,'x',i,'=',n*i)
    i = i-1

Enter the no. for table : 5
5 x 10 = 50
5 x 9 = 45
5 x 8 = 40
5 x 7 = 35
5 x 6 = 30
5 x 5 = 25
5 x 4 = 20
5 x 3 = 15
5 x 2 = 10
5 x 1 = 5

write a program to print the factors of the no. using while loops

In [2]:
n = 45
i =1 
while i<46:
    if n%i == 0:
        print(i)
        i = i+1
    else:
        i = i+1

1
3
5
9
15
45

In [39]:
for i in 'Madrid':
    if i == 'd':
        break
    print(i)

M
a

In [3]:
#return a list with the same length as L. where the value at index i is true
#if L[i] is greater than thresh, and false otherwise
l = [1,2,3,4]
R = []
for i in l:
    if i>2:
        R.append(True)
    else:
        R.append(False)
print(R)

[False, False, True, True]

In [6]:
s = "Aman Singh"
s.split(sep = "a")

['Am', 'n Singh']

In [7]:
s = input("enter the names of the students :").split()

enter the names of the students :harish,chotu,motu,golu,ram,shyam

Object `split` not found.