We have three lists , we need to combine those list by their respective indexs and find the what is the largest value among them

try to compute the volume of a sphere and round it to 1 decimal.
if the vol is lesser than 120 then u can print the radius to be small.

Lets say we have to make a list of 5 cricketers by taking input from the user and if the cricketer is married to a actress then her name and the cricketers name should come together

In [ ]:
Implement kwargs and args for a function and access the values of the function.

In [4]:
def rt(**a):
    for i,j in a.items():
        print(i,j)
rt(w = int(input("enter any integral value")),r= "color",aman="singh")

enter any integral value78
w 78
r color
aman singh

In [ ]:
Strings :
    text information

In [2]:
s = "@11adf"
type(s)

str

**Indexing in Strings**

In [4]:
s = "Aman"
s[-3]

'm'

In [5]:
s[-1]

'n'

In [6]:
s[3]

'n'

In [ ]:
range(start,stop,step)

In [20]:
s[-2:-5:-1]

'amA'

In [7]:
s[1:4]

'man'

In [23]:
s = "!@#!$vfkbdskbkQWERT90786543!@#"
s[-4:-12:-1]
s[-11:-3]

'90786543'

In [10]:
s = "!@#!$vfkbdskbkQWERT90786543!@#"
s[-11:-4]

'9078654'

In [12]:
s[-4:-12:-1]

'34568709'

In [15]:
s= "Aman@Singh"
s[::-1]

'hgniS@namA'

In [16]:
s[0::]

'Aman@Singh'

In [17]:
s[:3]

'Ama'

In [19]:
s[2:6:2]

'a@'

String Properties :
1) immutable 
2) concatenation

In [24]:
s = "lion"
s[0] = "k"

TypeError: 'str' object does not support item assignment

In [26]:
s = s + "king"

In [27]:
s

'lionking'

In [28]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [35]:
a , b = "aman singh".split()

In [32]:
a

'aman'

In [33]:
b

'singh'

In [ ]:
strings methods : functions which can be applied to a string 
    1) split

In [22]:
s = "mana@regression@analysis@pandas@numpy@matplotlib".split(sep = "@")

In [23]:
s

['mana', 'regression', 'analysis', 'pandas', 'numpy', 'matplotlib']

In [40]:
s = "12345646".split(sep = "4")

In [41]:
s

['123', '56', '6']

In [39]:
"12345646".partition("4")

('123', '4', '5646')

In [42]:
s = "HELLO"
s.lower()

'hello'

In [43]:
s.upper()

'HELLO'

In [45]:
s = s.lower()

In [46]:
s

'hello'

In [47]:
s.capitalize()

'Hello'

In [37]:
s

'hello'

In [54]:
s = "hello"

In [55]:
s.islower()

True

In [56]:
s.isupper()

False

In [58]:
s = "the cat is sitting on the table cat is again sleeping"

In [60]:
s.count("is")

2

In [64]:
s.find("sitting")

11

In [65]:
s.index("table")

26

In [75]:
s = "world"
for i in s:
    s1 = "".join(i)
    print(s1)

w
o
r
l
d

In [78]:
' '.join(['ab', 'pq', 'rs'])

'ab pq rs'

In [73]:
s

'samansfiamansfnamansfgamansfh'

In [67]:
for i in "aman":
    s = "".join(i)
    print(s,end = "")

aman

In [64]:
l = []
for i in range(1,11):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
s = "hello World"

In [69]:
s.endswith("d")

True

In [71]:
s.startswith("e")

False

In [73]:
s.center(16,"2")

'22hello World222'

In [74]:
s = "  the  "

In [77]:
s.lstrip()

'the  '

In [1]:
s = "madam"
from collections import Counter 
c = Counter(s)
c

Counter({'m': 2, 'a': 2, 'd': 1})

In [3]:
d = {}
for i in s:
     d[i] = s.count(i)
d

{'m': 2, 'a': 2, 'd': 1}

In [6]:
def countOcc(string):
    dict = {}
    for n in string:
        keys = dict.keys()
        #print(keys)
        if n in keys:
            #print(n,keys)
            dict[n]+=1
        else:
            dict[n]=1
    return dict
countOcc("madam")

{'m': 2, 'a': 2, 'd': 1}

In [7]:
s = {1:1,2:3}
type(s)

dict

In [8]:
a = 1,2,3
a

(1, 2, 3)

In [9]:
list(a)

[1, 2, 3]

In [ ]:
dict.keys()

In [18]:
s=""
s.isalnum() #shows both char and number plus only numbers or only char

False

In [26]:
s= "Aman Cat is Sleeping"
s.istitle()
s.isspace()

False

In [24]:
s = "     "
s.isspace()

False

In [28]:
s = "123"
s.isdigit()

True

In [30]:
s.endswith("1")

False

In [31]:
s.startswith("1")

True

In [40]:
dog = 123
floor = 45.6

In [41]:
print(f"the {dog} is sleeping on the {floor}")

the 123 is sleeping on the 45.6

In [42]:
print("the {} is sleeping on the {}".format(floor,dog))

the 45.6 is sleeping on the 123

In [43]:
s = "hello\tworld"
s

'hello\tworld'

In [44]:
s.expandtabs()

'hello   world'

In [47]:
s1 = "aman"
s2 = "SinGH"
s1.swapcase()
s2.swapcase()

'sINgh'

In [27]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']